extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/global.pug
  //-
  //- Home:
  //-
  span#g-mining-speed(
    style="display:none" data-value=`${UI_MINING_SPEED}`)
  span#g-persistence(
    style="display:none" data-value=`${UI_PERSISTENCE}`)
  span#g-worker-path(
    style="display:none" data-value="{{UI_WORKER_PATH}}")
  //-
  //- Nfts:
  //-
  span#g-THOR_NFT_v2a(
    style="display:none" data-value=`${THOR_NFT_V2a}`)
  span#g-LOKI_NFT_v2a(
    style="display:none" data-value=`${LOKI_NFT_V2a}`)
  span#g-ODIN_NFT_v2a(
    style="display:none" data-value=`${ODIN_NFT_V2a}`)

  span#g-THOR_NFT_v3a(
    style="display:none" data-value=`${THOR_NFT_V3a}`)
  span#g-LOKI_NFT_v3a(
    style="display:none" data-value=`${LOKI_NFT_V3a}`)
  span#g-ODIN_NFT_v3a(
    style="display:none" data-value=`${ODIN_NFT_V3a}`)

  span#g-THOR_NFT_v3b(
    style="display:none" data-value=`${THOR_NFT_V3b}`)
  span#g-LOKI_NFT_v3b(
    style="display:none" data-value=`${LOKI_NFT_V3b}`)
  span#g-ODIN_NFT_v3b(
    style="display:none" data-value=`${ODIN_NFT_V3b}`)

  span#g-THOR_NFT_v4a(
    style="display:none" data-value=`${THOR_NFT_V4a}`)
  span#g-LOKI_NFT_v4a(
    style="display:none" data-value=`${LOKI_NFT_V4a}`)
  span#g-ODIN_NFT_v4a(
    style="display:none" data-value=`${ODIN_NFT_V4a}`)
  //-
  //- Ppts:
  //-
  span#g-THOR_PPT_v4a(
    style="display:none" data-value=`${THOR_PPT_V4a}`)
  span#g-LOKI_PPT_v4a(
    style="display:none" data-value=`${LOKI_PPT_V4a}`)
  span#g-ODIN_PPT_v4a(
    style="display:none" data-value=`${ODIN_PPT_V4a}`)

  span#g-THOR_PPT_TREASURY_v4a(
    style="display:none" data-value=`${THOR_PPT_TREASURY_V4a}`)
  span#g-LOKI_PPT_TREASURY_v4a(
    style="display:none" data-value=`${LOKI_PPT_TREASURY_V4a}`)
  span#g-ODIN_PPT_TREASURY_v4a(
    style="display:none" data-value=`${ODIN_PPT_TREASURY_V4a}`)

  span#g-THOR_MOE_TREASURY_v4a(
    style="display:none" data-value=`${THOR_MOE_TREASURY_V4a}`)
  span#g-LOKI_MOE_TREASURY_v4a(
    style="display:none" data-value=`${LOKI_MOE_TREASURY_V4a}`)
  span#g-ODIN_MOE_TREASURY_v4a(
    style="display:none" data-value=`${ODIN_MOE_TREASURY_V4a}`)
  //-
  //- About:
  //-
  span#g-urls-about(
    style="display:none" data-value=`${MD_ABOUT_URL}`)

block header
  include ../header/header.pug

block content
  content

block footer
  include ../footer/footer.pug
