div#aft-wallet
  div.form-label
    | Wallet Address and {{TOKEN}} Balance
  div.input-group.wallet-address
    button#otf-wallet-toggle.form-control.input-group-text(
      data-bs-toggle="tooltip" data-bs-placement="top"
      role="button" title="Enable minter wallet & show balance of AVAX"
    )
      i(class="{{OTF_WALLET_TOGGLE}}")
    input#aft-wallet-address.form-control(
      placeholder="0x0000000000000000000000000000000000000000"
      data-bs-toggle="tooltip" data-bs-placement="top"
      readonly title="Wallet address" type="text"
    )
    button.form-control.input-group-text#aft-wallet-burner(
      data-bs-toggle="tooltip" data-bs-placement="top" disabled="disabled"
      role="tooltip" title="Burn your {{TOKEN}}"
    )
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status"
      )
      include ../../public/images/pug/fire.svg.pug
    input#aft-wallet-balance.form-control(
      data-bs-toggle="tooltip" data-bs-placement="top"
      placeholder="0" readonly type="text"
      title=`Balance of proof-of-work {{TOKEN}} tokens`
    )
    button.form-control.input-group-text.info#aft-wallet-sov-toggle(
      data-bs-toggle="tooltip" data-bs-placement="top"
      role="tooltip" title="Wallet address & balance of {{TOKEN}} tokens"
    )
      include ../../public/images/pug/xpower.img.pug
