div#aft-wallet
  div.form-label
    | Wallet Address and {{TOKEN}} Balance
    span#aft-wallet-sov-toggle-mini
      svg(class="bi bi-toggle2-off"
        xmlns="http://www.w3.org/2000/svg"
        height="16" width="16" fill="currentColor"
        viewBox="0 0 16 16" style="transform: rotate({{AFT_WALLET_TOGGLE_ROTATE}})"
      )
        path(d="M9 11c.628-.836 1-1.874 1-3a4.978 4.978 0 0 0-1-3h4a3 3 0 1 1 0 6H9z")
        path(d="M5 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 5 3a5 5 0 0 0 0 10z")
  div.input-group.aft-wallet-address.wallet-address
    button.form-control.input-group-text#otf-wallet-toggle
      i(class="bi {{OTF_WALLET_TOGGLE}}")
    include ../qr-code/qr-code.pug
    select.form-select#aft-wallet-address(
      default-value="0x0000000000000000000000000000000000000000"
      readonly value="{{AFT_WALLET_ACCOUNT}}"
    )
      option(value="{{AFT_WALLET_ACCOUNT}}")
        | {{AFT_WALLET_ACCOUNT}}
    button.form-control.input-group-text#aft-wallet-copy
      i(class="bi bi-copy")
    button.form-control.input-group-text#aft-wallet-burner(disabled)
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status"
      )
      include ../../public/images/pug/fire.svg.pug
    input.form-control#aft-wallet-balance(
      placeholder="0" readonly
    )
    button.form-control.input-group-text.info#aft-wallet-sov-toggle
      include ../../public/images/pug/xpower.img.pug
