form#wallet
  label.form-label(for="wallet-address")
    | Wallet Address and {{TOKEN}} Balance
  div.input-group.wallet-address
    span.input-group-text#otf-wallet-toggle(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Enable minter wallet & show balance of AVAX"
    )
      i.bi-wallet
    input#wallet-address.form-control(
      placeholder="0x0000000000000000000000000000000000000000"
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Wallet address" type="text" readonly
    )
    input#wallet-balance.form-control(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title=`Balance of proof-of-work {{TOKEN}} tokens` readonly
      type="text" placeholder="0"
    )
    span.input-group-text.info(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Wallet address & balance of {{TOKEN}} tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#otf-wallet(style="display: none")
  label.form-label(for="otf-wallet-address")
    | Minter Address and AVAX Balance
  div.input-group.otf-wallet-address
    span.input-group-text#otf-wallet-transfer.withdraw(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Withdraw AVAX from minter to wallet address"
    )
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="display: none"
      )
      i.bi-patch-plus
    input#otf-wallet-address.form-control(
      placeholder="0x0000000000000000000000000000000000000000"
      title="Minter address to pre-fund for transaction fees"
      data-bs-toggle="tooltip" data-bs-placement="top"
      type="text" readonly
    )
    input#otf-wallet-balance.form-control(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title=`AVAX balance to auto-pay for transaction fees`
      type="text" placeholder="0" readonly
    )
    span.input-group-text.info(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Minter address & balance for transaction fees"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
