//-
//- MOEs:
//-
span#g-THOR_MOE_v2a(
    style="display:none" data-value=`${THOR_MOE_V2a}`)
span#g-LOKI_MOE_v2a(
    style="display:none" data-value=`${LOKI_MOE_V2a}`)
span#g-ODIN_MOE_v2a(
    style="display:none" data-value=`${ODIN_MOE_V2a}`)
span#g-THOR_MOE_v3a(
    style="display:none" data-value=`${THOR_MOE_V3a}`)
span#g-LOKI_MOE_v3a(
    style="display:none" data-value=`${LOKI_MOE_V3a}`)
span#g-ODIN_MOE_v3a(
    style="display:none" data-value=`${ODIN_MOE_V3a}`)
span#g-THOR_MOE_v3b(
    style="display:none" data-value=`${THOR_MOE_V3a}`)
span#g-LOKI_MOE_v3b(
    style="display:none" data-value=`${LOKI_MOE_V3a}`)
span#g-ODIN_MOE_v3b(
    style="display:none" data-value=`${ODIN_MOE_V3a}`)
span#g-THOR_MOE_v4a(
    style="display:none" data-value=`${THOR_MOE_V4a}`)
span#g-LOKI_MOE_v4a(
    style="display:none" data-value=`${LOKI_MOE_V4a}`)
span#g-ODIN_MOE_v4a(
    style="display:none" data-value=`${ODIN_MOE_V4a}`)
span#g-THOR_MOE_v5a(
    style="display:none" data-value=`${THOR_MOE_V5a}`)
span#g-LOKI_MOE_v5a(
    style="display:none" data-value=`${LOKI_MOE_V5a}`)
span#g-ODIN_MOE_v5a(
    style="display:none" data-value=`${ODIN_MOE_V5a}`)
span#g-THOR_MOE_v5b(
    style="display:none" data-value=`${THOR_MOE_V5b}`)
span#g-LOKI_MOE_v5b(
    style="display:none" data-value=`${LOKI_MOE_V5b}`)
span#g-ODIN_MOE_v5b(
    style="display:none" data-value=`${ODIN_MOE_V5b}`)
span#g-THOR_MOE_v5c(
    style="display:none" data-value=`${THOR_MOE_V5c}`)
span#g-LOKI_MOE_v5c(
    style="display:none" data-value=`${LOKI_MOE_V5c}`)
span#g-ODIN_MOE_v5c(
    style="display:none" data-value=`${ODIN_MOE_V5c}`)
span#g-THOR_MOE_v6a(
    style="display:none" data-value=`${THOR_MOE_V6a}`)
span#g-LOKI_MOE_v6a(
    style="display:none" data-value=`${LOKI_MOE_V6a}`)
span#g-ODIN_MOE_v6a(
    style="display:none" data-value=`${ODIN_MOE_V6a}`)

span#g-THOR_MOE_SYMBOL_v2a(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V2a}`)
span#g-LOKI_MOE_SYMBOL_v2a(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V2a}`)
span#g-ODIN_MOE_SYMBOL_v2a(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V2a}`)
span#g-THOR_MOE_SYMBOL_v3a(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V3a}`)
span#g-LOKI_MOE_SYMBOL_v3a(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V3a}`)
span#g-ODIN_MOE_SYMBOL_v3a(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V3a}`)
span#g-THOR_MOE_SYMBOL_v3b(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V3a}`)
span#g-LOKI_MOE_SYMBOL_v3b(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V3a}`)
span#g-ODIN_MOE_SYMBOL_v3b(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V3a}`)
span#g-THOR_MOE_SYMBOL_v4a(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V4a}`)
span#g-LOKI_MOE_SYMBOL_v4a(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V4a}`)
span#g-ODIN_MOE_SYMBOL_v4a(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V4a}`)
span#g-THOR_MOE_SYMBOL_v5a(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V5a}`)
span#g-LOKI_MOE_SYMBOL_v5a(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V5a}`)
span#g-ODIN_MOE_SYMBOL_v5a(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V5a}`)
span#g-THOR_MOE_SYMBOL_v5b(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V5b}`)
span#g-LOKI_MOE_SYMBOL_v5b(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V5b}`)
span#g-ODIN_MOE_SYMBOL_v5b(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V5b}`)
span#g-THOR_MOE_SYMBOL_v5c(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V5c}`)
span#g-LOKI_MOE_SYMBOL_v5c(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V5c}`)
span#g-ODIN_MOE_SYMBOL_v5c(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V5c}`)
span#g-THOR_MOE_SYMBOL_v6a(
    style="display:none" data-value=`${THOR_MOE_SYMBOL_V6a}`)
span#g-LOKI_MOE_SYMBOL_v6a(
    style="display:none" data-value=`${LOKI_MOE_SYMBOL_V6a}`)
span#g-ODIN_MOE_SYMBOL_v6a(
    style="display:none" data-value=`${ODIN_MOE_SYMBOL_V6a}`)

span#g-THOR_MOE_DECIMALS_v2a(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V2a}`)
span#g-LOKI_MOE_DECIMALS_v2a(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V2a}`)
span#g-ODIN_MOE_DECIMALS_v2a(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V2a}`)
span#g-THOR_MOE_DECIMALS_v3a(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V3a}`)
span#g-LOKI_MOE_DECIMALS_v3a(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V3a}`)
span#g-ODIN_MOE_DECIMALS_v3a(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V3a}`)
span#g-THOR_MOE_DECIMALS_v3b(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V3a}`)
span#g-LOKI_MOE_DECIMALS_v3b(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V3a}`)
span#g-ODIN_MOE_DECIMALS_v3b(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V3a}`)
span#g-THOR_MOE_DECIMALS_v4a(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V4a}`)
span#g-LOKI_MOE_DECIMALS_v4a(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V4a}`)
span#g-ODIN_MOE_DECIMALS_v4a(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V4a}`)
span#g-THOR_MOE_DECIMALS_v5a(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V5a}`)
span#g-LOKI_MOE_DECIMALS_v5a(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V5a}`)
span#g-ODIN_MOE_DECIMALS_v5a(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V5a}`)
span#g-THOR_MOE_DECIMALS_v5b(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V5b}`)
span#g-LOKI_MOE_DECIMALS_v5b(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V5b}`)
span#g-ODIN_MOE_DECIMALS_v5b(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V5b}`)
span#g-THOR_MOE_DECIMALS_v5c(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V5c}`)
span#g-LOKI_MOE_DECIMALS_v5c(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V5c}`)
span#g-ODIN_MOE_DECIMALS_v5c(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V5c}`)
span#g-THOR_MOE_DECIMALS_v6a(
    style="display:none" data-value=`${THOR_MOE_DECIMALS_V6a}`)
span#g-LOKI_MOE_DECIMALS_v6a(
    style="display:none" data-value=`${LOKI_MOE_DECIMALS_V6a}`)
span#g-ODIN_MOE_DECIMALS_v6a(
    style="display:none" data-value=`${ODIN_MOE_DECIMALS_V6a}`)

span#g-THOR_MOE_IMAGE_v2a(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V2a}`)
span#g-LOKI_MOE_IMAGE_v2a(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V2a}`)
span#g-ODIN_MOE_IMAGE_v2a(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V2a}`)
span#g-THOR_MOE_IMAGE_v3a(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V3a}`)
span#g-LOKI_MOE_IMAGE_v3a(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V3a}`)
span#g-ODIN_MOE_IMAGE_v3a(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V3a}`)
span#g-THOR_MOE_IMAGE_v3b(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V3a}`)
span#g-LOKI_MOE_IMAGE_v3b(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V3a}`)
span#g-ODIN_MOE_IMAGE_v3b(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V3a}`)
span#g-THOR_MOE_IMAGE_v4a(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V4a}`)
span#g-LOKI_MOE_IMAGE_v4a(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V4a}`)
span#g-ODIN_MOE_IMAGE_v4a(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V4a}`)
span#g-THOR_MOE_IMAGE_v5a(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V5a}`)
span#g-LOKI_MOE_IMAGE_v5a(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V5a}`)
span#g-ODIN_MOE_IMAGE_v5a(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V5a}`)
span#g-THOR_MOE_IMAGE_v5b(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V5b}`)
span#g-LOKI_MOE_IMAGE_v5b(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V5b}`)
span#g-ODIN_MOE_IMAGE_v5b(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V5b}`)
span#g-THOR_MOE_IMAGE_v5c(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V5c}`)
span#g-LOKI_MOE_IMAGE_v5c(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V5c}`)
span#g-ODIN_MOE_IMAGE_v5c(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V5c}`)
span#g-THOR_MOE_IMAGE_v6a(
    style="display:none" data-value=`${THOR_MOE_IMAGE_V6a}`)
span#g-LOKI_MOE_IMAGE_v6a(
    style="display:none" data-value=`${LOKI_MOE_IMAGE_V6a}`)
span#g-ODIN_MOE_IMAGE_v6a(
    style="display:none" data-value=`${ODIN_MOE_IMAGE_V6a}`)
//-
//- NFTs: (bundled MOEs)
//-
span#g-THOR_NFT_v2a(
    style="display:none" data-value=`${THOR_NFT_V2a}`)
span#g-LOKI_NFT_v2a(
    style="display:none" data-value=`${LOKI_NFT_V2a}`)
span#g-ODIN_NFT_v2a(
    style="display:none" data-value=`${ODIN_NFT_V2a}`)
span#g-THOR_NFT_v3a(
    style="display:none" data-value=`${THOR_NFT_V3a}`)
span#g-LOKI_NFT_v3a(
    style="display:none" data-value=`${LOKI_NFT_V3a}`)
span#g-ODIN_NFT_v3a(
    style="display:none" data-value=`${ODIN_NFT_V3a}`)
span#g-THOR_NFT_v3b(
    style="display:none" data-value=`${THOR_NFT_V3b}`)
span#g-LOKI_NFT_v3b(
    style="display:none" data-value=`${LOKI_NFT_V3b}`)
span#g-ODIN_NFT_v3b(
    style="display:none" data-value=`${ODIN_NFT_V3b}`)
span#g-THOR_NFT_v4a(
    style="display:none" data-value=`${THOR_NFT_V4a}`)
span#g-LOKI_NFT_v4a(
    style="display:none" data-value=`${LOKI_NFT_V4a}`)
span#g-ODIN_NFT_v4a(
    style="display:none" data-value=`${ODIN_NFT_V4a}`)
span#g-THOR_NFT_v5a(
    style="display:none" data-value=`${THOR_NFT_V5a}`)
span#g-LOKI_NFT_v5a(
    style="display:none" data-value=`${LOKI_NFT_V5a}`)
span#g-ODIN_NFT_v5a(
    style="display:none" data-value=`${ODIN_NFT_V5a}`)
span#g-THOR_NFT_v5b(
    style="display:none" data-value=`${THOR_NFT_V5b}`)
span#g-LOKI_NFT_v5b(
    style="display:none" data-value=`${LOKI_NFT_V5b}`)
span#g-ODIN_NFT_v5b(
    style="display:none" data-value=`${ODIN_NFT_V5b}`)
span#g-THOR_NFT_v5c(
    style="display:none" data-value=`${THOR_NFT_V5c}`)
span#g-LOKI_NFT_v5c(
    style="display:none" data-value=`${LOKI_NFT_V5c}`)
span#g-ODIN_NFT_v5c(
    style="display:none" data-value=`${ODIN_NFT_V5c}`)
span#g-XPOW_NFT_v6a(
    style="display:none" data-value=`${XPOW_NFT_V6a}`)
//-
//- PPTs: (staked NFTs)
//-
span#g-THOR_PPT_v4a(
    style="display:none" data-value=`${THOR_PPT_V4a}`)
span#g-LOKI_PPT_v4a(
    style="display:none" data-value=`${LOKI_PPT_V4a}`)
span#g-ODIN_PPT_v4a(
    style="display:none" data-value=`${ODIN_PPT_V4a}`)
span#g-THOR_PPT_v5a(
    style="display:none" data-value=`${THOR_PPT_V5a}`)
span#g-LOKI_PPT_v5a(
    style="display:none" data-value=`${LOKI_PPT_V5a}`)
span#g-ODIN_PPT_v5a(
    style="display:none" data-value=`${ODIN_PPT_V5a}`)
span#g-THOR_PPT_v5b(
    style="display:none" data-value=`${THOR_PPT_V5b}`)
span#g-LOKI_PPT_v5b(
    style="display:none" data-value=`${LOKI_PPT_V5b}`)
span#g-ODIN_PPT_v5b(
    style="display:none" data-value=`${ODIN_PPT_V5b}`)
span#g-THOR_PPT_v5c(
    style="display:none" data-value=`${THOR_PPT_V5c}`)
span#g-LOKI_PPT_v5c(
    style="display:none" data-value=`${LOKI_PPT_V5c}`)
span#g-ODIN_PPT_v5c(
    style="display:none" data-value=`${ODIN_PPT_V5c}`)
span#g-XPOW_PPT_v6a(
    style="display:none" data-value=`${XPOW_PPT_V6a}`)
//-
//- PPT Treasury: (for vaulting of NFTs & minting of PPTs)
//-
span#g-THOR_PTY_v4a(
    style="display:none" data-value=`${THOR_PTY_V4a}`)
span#g-LOKI_PTY_v4a(
    style="display:none" data-value=`${LOKI_PTY_V4a}`)
span#g-ODIN_PTY_v4a(
    style="display:none" data-value=`${ODIN_PTY_V4a}`)
span#g-THOR_PTY_v5a(
    style="display:none" data-value=`${THOR_PTY_V5a}`)
span#g-LOKI_PTY_v5a(
    style="display:none" data-value=`${LOKI_PTY_V5a}`)
span#g-ODIN_PTY_v5a(
    style="display:none" data-value=`${ODIN_PTY_V5a}`)
span#g-THOR_PTY_v5b(
    style="display:none" data-value=`${THOR_PTY_V5b}`)
span#g-LOKI_PTY_v5b(
    style="display:none" data-value=`${LOKI_PTY_V5b}`)
span#g-ODIN_PTY_v5b(
    style="display:none" data-value=`${ODIN_PTY_V5b}`)
span#g-THOR_PTY_v5c(
    style="display:none" data-value=`${THOR_PTY_V5c}`)
span#g-LOKI_PTY_v5c(
    style="display:none" data-value=`${LOKI_PTY_V5c}`)
span#g-ODIN_PTY_v5c(
    style="display:none" data-value=`${ODIN_PTY_V5c}`)
span#g-XPOW_PTY_v6a(
    style="display:none" data-value=`${XPOW_PTY_V6a}`)
//-
//- MOE Treasury: (for MOE/SOV rewards on PPTs)
//-
span#g-THOR_MTY_v4a(
    style="display:none" data-value=`${THOR_MTY_V4a}`)
span#g-LOKI_MTY_v4a(
    style="display:none" data-value=`${LOKI_MTY_V4a}`)
span#g-ODIN_MTY_v4a(
    style="display:none" data-value=`${ODIN_MTY_V4a}`)
span#g-THOR_MTY_v5a(
    style="display:none" data-value=`${THOR_MTY_V5a}`)
span#g-LOKI_MTY_v5a(
    style="display:none" data-value=`${LOKI_MTY_V5a}`)
span#g-ODIN_MTY_v5a(
    style="display:none" data-value=`${ODIN_MTY_V5a}`)
span#g-THOR_MTY_v5b(
    style="display:none" data-value=`${THOR_MTY_V5b}`)
span#g-LOKI_MTY_v5b(
    style="display:none" data-value=`${LOKI_MTY_V5b}`)
span#g-ODIN_MTY_v5b(
    style="display:none" data-value=`${ODIN_MTY_V5b}`)
span#g-THOR_MTY_v5c(
    style="display:none" data-value=`${THOR_MTY_V5c}`)
span#g-LOKI_MTY_v5c(
    style="display:none" data-value=`${LOKI_MTY_V5c}`)
span#g-ODIN_MTY_v5c(
    style="display:none" data-value=`${ODIN_MTY_V5c}`)
span#g-THOR_MTY_v6a(
    style="display:none" data-value=`${THOR_MTY_V6a}`)
span#g-LOKI_MTY_v6a(
    style="display:none" data-value=`${LOKI_MTY_V6a}`)
span#g-ODIN_MTY_v6a(
    style="display:none" data-value=`${ODIN_MTY_V6a}`)
//-
//- SOVs: (rewards on PPTs, wrapping MOEs)
//-
span#g-THOR_SOV_v5a(
    style="display:none" data-value=`${THOR_SOV_V5a}`)
span#g-LOKI_SOV_v5a(
    style="display:none" data-value=`${LOKI_SOV_V5a}`)
span#g-ODIN_SOV_v5a(
    style="display:none" data-value=`${ODIN_SOV_V5a}`)
span#g-THOR_SOV_v5b(
    style="display:none" data-value=`${THOR_SOV_V5b}`)
span#g-LOKI_SOV_v5b(
    style="display:none" data-value=`${LOKI_SOV_V5b}`)
span#g-ODIN_SOV_v5b(
    style="display:none" data-value=`${ODIN_SOV_V5b}`)
span#g-THOR_SOV_v5c(
    style="display:none" data-value=`${THOR_SOV_V5c}`)
span#g-LOKI_SOV_v5c(
    style="display:none" data-value=`${LOKI_SOV_V5c}`)
span#g-ODIN_SOV_v5c(
    style="display:none" data-value=`${ODIN_SOV_V5c}`)
span#g-THOR_SOV_v6a(
    style="display:none" data-value=`${THOR_SOV_V6a}`)
span#g-LOKI_SOV_v6a(
    style="display:none" data-value=`${LOKI_SOV_V6a}`)
span#g-ODIN_SOV_v6a(
    style="display:none" data-value=`${ODIN_SOV_V6a}`)

span#g-THOR_SOV_SYMBOL_v5a(
    style="display:none" data-value=`${THOR_SOV_SYMBOL_V5a}`)
span#g-LOKI_SOV_SYMBOL_v5a(
    style="display:none" data-value=`${LOKI_SOV_SYMBOL_V5a}`)
span#g-ODIN_SOV_SYMBOL_v5a(
    style="display:none" data-value=`${ODIN_SOV_SYMBOL_V5a}`)
span#g-THOR_SOV_SYMBOL_v5b(
    style="display:none" data-value=`${THOR_SOV_SYMBOL_V5b}`)
span#g-LOKI_SOV_SYMBOL_v5b(
    style="display:none" data-value=`${LOKI_SOV_SYMBOL_V5b}`)
span#g-ODIN_SOV_SYMBOL_v5b(
    style="display:none" data-value=`${ODIN_SOV_SYMBOL_V5b}`)
span#g-THOR_SOV_SYMBOL_v5c(
    style="display:none" data-value=`${THOR_SOV_SYMBOL_V5c}`)
span#g-LOKI_SOV_SYMBOL_v5c(
    style="display:none" data-value=`${LOKI_SOV_SYMBOL_V5c}`)
span#g-ODIN_SOV_SYMBOL_v5c(
    style="display:none" data-value=`${ODIN_SOV_SYMBOL_V5c}`)
span#g-THOR_SOV_SYMBOL_v6a(
    style="display:none" data-value=`${THOR_SOV_SYMBOL_V6a}`)
span#g-LOKI_SOV_SYMBOL_v6a(
    style="display:none" data-value=`${LOKI_SOV_SYMBOL_V6a}`)
span#g-ODIN_SOV_SYMBOL_v6a(
    style="display:none" data-value=`${ODIN_SOV_SYMBOL_V6a}`)

span#g-THOR_SOV_DECIMALS_v5a(
    style="display:none" data-value=`${THOR_SOV_DECIMALS_V5a}`)
span#g-LOKI_SOV_DECIMALS_v5a(
    style="display:none" data-value=`${LOKI_SOV_DECIMALS_V5a}`)
span#g-ODIN_SOV_DECIMALS_v5a(
    style="display:none" data-value=`${ODIN_SOV_DECIMALS_V5a}`)
span#g-THOR_SOV_DECIMALS_v5b(
    style="display:none" data-value=`${THOR_SOV_DECIMALS_V5b}`)
span#g-LOKI_SOV_DECIMALS_v5b(
    style="display:none" data-value=`${LOKI_SOV_DECIMALS_V5b}`)
span#g-ODIN_SOV_DECIMALS_v5b(
    style="display:none" data-value=`${ODIN_SOV_DECIMALS_V5b}`)
span#g-THOR_SOV_DECIMALS_v5c(
    style="display:none" data-value=`${THOR_SOV_DECIMALS_V5c}`)
span#g-LOKI_SOV_DECIMALS_v5c(
    style="display:none" data-value=`${LOKI_SOV_DECIMALS_V5c}`)
span#g-ODIN_SOV_DECIMALS_v5c(
    style="display:none" data-value=`${ODIN_SOV_DECIMALS_V5c}`)
span#g-THOR_SOV_DECIMALS_v6a(
    style="display:none" data-value=`${THOR_SOV_DECIMALS_V6a}`)
span#g-LOKI_SOV_DECIMALS_v6a(
    style="display:none" data-value=`${LOKI_SOV_DECIMALS_V6a}`)
span#g-ODIN_SOV_DECIMALS_v6a(
    style="display:none" data-value=`${ODIN_SOV_DECIMALS_V6a}`)

span#g-THOR_SOV_IMAGE_v5a(
    style="display:none" data-value=`${THOR_SOV_IMAGE_V5a}`)
span#g-LOKI_SOV_IMAGE_v5a(
    style="display:none" data-value=`${LOKI_SOV_IMAGE_V5a}`)
span#g-ODIN_SOV_IMAGE_v5a(
    style="display:none" data-value=`${ODIN_SOV_IMAGE_V5a}`)
span#g-THOR_SOV_IMAGE_v5b(
    style="display:none" data-value=`${THOR_SOV_IMAGE_V5b}`)
span#g-LOKI_SOV_IMAGE_v5b(
    style="display:none" data-value=`${LOKI_SOV_IMAGE_V5b}`)
span#g-ODIN_SOV_IMAGE_v5b(
    style="display:none" data-value=`${ODIN_SOV_IMAGE_V5b}`)
span#g-THOR_SOV_IMAGE_v5c(
    style="display:none" data-value=`${THOR_SOV_IMAGE_V5c}`)
span#g-LOKI_SOV_IMAGE_v5c(
    style="display:none" data-value=`${LOKI_SOV_IMAGE_V5c}`)
span#g-ODIN_SOV_IMAGE_v5c(
    style="display:none" data-value=`${ODIN_SOV_IMAGE_V5c}`)
span#g-THOR_SOV_IMAGE_v6a(
    style="display:none" data-value=`${THOR_SOV_IMAGE_V6a}`)
span#g-LOKI_SOV_IMAGE_v6a(
    style="display:none" data-value=`${LOKI_SOV_IMAGE_V6a}`)
span#g-ODIN_SOV_IMAGE_v6a(
    style="display:none" data-value=`${ODIN_SOV_IMAGE_V6a}`)
