//-
//- MOEs:
//-
span#g-XPOW_MOE_v2a(
    style="display:none" data-value=`${XPOW_MOE_V2a}`)
span#g-XPOW_MOE_v2b(
    style="display:none" data-value=`${XPOW_MOE_V2b}`)
span#g-XPOW_MOE_v2c(
    style="display:none" data-value=`${XPOW_MOE_V2c}`)
span#g-XPOW_MOE_v3a(
    style="display:none" data-value=`${XPOW_MOE_V3a}`)
span#g-XPOW_MOE_v3b(
    style="display:none" data-value=`${XPOW_MOE_V3b}`)
span#g-XPOW_MOE_v4a(
    style="display:none" data-value=`${XPOW_MOE_V4a}`)
span#g-XPOW_MOE_v5a(
    style="display:none" data-value=`${XPOW_MOE_V5a}`)
span#g-XPOW_MOE_v5b(
    style="display:none" data-value=`${XPOW_MOE_V5b}`)
span#g-XPOW_MOE_v5c(
    style="display:none" data-value=`${XPOW_MOE_V5c}`)
span#g-XPOW_MOE_v6a(
    style="display:none" data-value=`${XPOW_MOE_V6a}`)
span#g-XPOW_MOE_v6b(
    style="display:none" data-value=`${XPOW_MOE_V6b}`)
span#g-XPOW_MOE_v6c(
    style="display:none" data-value=`${XPOW_MOE_V6c}`)
span#g-XPOW_MOE_v7a(
    style="display:none" data-value=`${XPOW_MOE_V7a}`)
span#g-XPOW_MOE_v7b(
    style="display:none" data-value=`${XPOW_MOE_V7b}`)
span#g-XPOW_MOE_v7c(
    style="display:none" data-value=`${XPOW_MOE_V7c}`)
//-
//- NFTs: (bundled MOEs)
//-
span#g-XPOW_NFT_v2a(
    style="display:none" data-value=`${XPOW_NFT_V2a}`)
span#g-XPOW_NFT_v2b(
    style="display:none" data-value=`${XPOW_NFT_V2b}`)
span#g-XPOW_NFT_v2c(
    style="display:none" data-value=`${XPOW_NFT_V2c}`)
span#g-XPOW_NFT_v3a(
    style="display:none" data-value=`${XPOW_NFT_V3a}`)
span#g-XPOW_NFT_v3b(
    style="display:none" data-value=`${XPOW_NFT_V3b}`)
span#g-XPOW_NFT_v4a(
    style="display:none" data-value=`${XPOW_NFT_V4a}`)
span#g-XPOW_NFT_v5a(
    style="display:none" data-value=`${XPOW_NFT_V5a}`)
span#g-XPOW_NFT_v5b(
    style="display:none" data-value=`${XPOW_NFT_V5b}`)
span#g-XPOW_NFT_v5c(
    style="display:none" data-value=`${XPOW_NFT_V5c}`)
span#g-XPOW_NFT_v6a(
    style="display:none" data-value=`${XPOW_NFT_V6a}`)
span#g-XPOW_NFT_v6b(
    style="display:none" data-value=`${XPOW_NFT_V6b}`)
span#g-XPOW_NFT_v6c(
    style="display:none" data-value=`${XPOW_NFT_V6c}`)
span#g-XPOW_NFT_v7a(
    style="display:none" data-value=`${XPOW_NFT_V7a}`)
span#g-XPOW_NFT_v7b(
    style="display:none" data-value=`${XPOW_NFT_V7b}`)
span#g-XPOW_NFT_v7c(
    style="display:none" data-value=`${XPOW_NFT_V7c}`)
//-
//- PPTs: (staked NFTs)
//-
span#g-XPOW_PPT_v4a(
    style="display:none" data-value=`${XPOW_PPT_V4a}`)
span#g-XPOW_PPT_v5a(
    style="display:none" data-value=`${XPOW_PPT_V5a}`)
span#g-XPOW_PPT_v5b(
    style="display:none" data-value=`${XPOW_PPT_V5b}`)
span#g-XPOW_PPT_v5c(
    style="display:none" data-value=`${XPOW_PPT_V5c}`)
span#g-XPOW_PPT_v6a(
    style="display:none" data-value=`${XPOW_PPT_V6a}`)
span#g-XPOW_PPT_v6b(
    style="display:none" data-value=`${XPOW_PPT_V6b}`)
span#g-XPOW_PPT_v6c(
    style="display:none" data-value=`${XPOW_PPT_V6c}`)
span#g-XPOW_PPT_v7a(
    style="display:none" data-value=`${XPOW_PPT_V7a}`)
span#g-XPOW_PPT_v7b(
    style="display:none" data-value=`${XPOW_PPT_V7b}`)
span#g-XPOW_PPT_v7c(
    style="display:none" data-value=`${XPOW_PPT_V7c}`)
//-
//- SOVs: (rewards on PPTs, wrapping MOEs)
//-
span#g-XPOW_SOV_v5a(
    style="display:none" data-value=`${XPOW_SOV_V5a}`)
span#g-XPOW_SOV_v5b(
    style="display:none" data-value=`${XPOW_SOV_V5b}`)
span#g-XPOW_SOV_v5c(
    style="display:none" data-value=`${XPOW_SOV_V5c}`)
span#g-XPOW_SOV_v6a(
    style="display:none" data-value=`${XPOW_SOV_V6a}`)
span#g-XPOW_SOV_v6b(
    style="display:none" data-value=`${XPOW_SOV_V6b}`)
span#g-XPOW_SOV_v6c(
    style="display:none" data-value=`${XPOW_SOV_V6c}`)
span#g-XPOW_SOV_v7a(
    style="display:none" data-value=`${XPOW_SOV_V7a}`)
span#g-XPOW_SOV_v7b(
    style="display:none" data-value=`${XPOW_SOV_V7b}`)
span#g-XPOW_SOV_v7c(
    style="display:none" data-value=`${XPOW_SOV_V7c}`)
//-
//- MOE Treasury: (for MOE/SOV rewards on PPTs)
//-
span#g-XPOW_MTY_v4a(
    style="display:none" data-value=`${XPOW_MTY_V4a}`)
span#g-XPOW_MTY_v5a(
    style="display:none" data-value=`${XPOW_MTY_V5a}`)
span#g-XPOW_MTY_v5b(
    style="display:none" data-value=`${XPOW_MTY_V5b}`)
span#g-XPOW_MTY_v5c(
    style="display:none" data-value=`${XPOW_MTY_V5c}`)
span#g-XPOW_MTY_v6a(
    style="display:none" data-value=`${XPOW_MTY_V6a}`)
span#g-XPOW_MTY_v6b(
    style="display:none" data-value=`${XPOW_MTY_V6b}`)
span#g-XPOW_MTY_v6c(
    style="display:none" data-value=`${XPOW_MTY_V6c}`)
span#g-XPOW_MTY_v7a(
    style="display:none" data-value=`${XPOW_MTY_V7a}`)
span#g-XPOW_MTY_v7b(
    style="display:none" data-value=`${XPOW_MTY_V7b}`)
span#g-XPOW_MTY_v7c(
    style="display:none" data-value=`${XPOW_MTY_V7c}`)
//-
//- PPT Treasury: (NFT vault for minting of PPTs)
//-
span#g-XPOW_PTY_v4a(
    style="display:none" data-value=`${XPOW_PTY_V4a}`)
span#g-XPOW_PTY_v5a(
    style="display:none" data-value=`${XPOW_PTY_V5a}`)
span#g-XPOW_PTY_v5b(
    style="display:none" data-value=`${XPOW_PTY_V5b}`)
span#g-XPOW_PTY_v5c(
    style="display:none" data-value=`${XPOW_PTY_V5c}`)
span#g-XPOW_PTY_v6a(
    style="display:none" data-value=`${XPOW_PTY_V6a}`)
span#g-XPOW_PTY_v6b(
    style="display:none" data-value=`${XPOW_PTY_V6b}`)
span#g-XPOW_PTY_v6c(
    style="display:none" data-value=`${XPOW_PTY_V6c}`)
span#g-XPOW_PTY_v7a(
    style="display:none" data-value=`${XPOW_PTY_V7a}`)
span#g-XPOW_PTY_v7b(
    style="display:none" data-value=`${XPOW_PTY_V7b}`)
span#g-XPOW_PTY_v7c(
    style="display:none" data-value=`${XPOW_PTY_V7c}`)
//-
//- MOEs: (token icons)
//-
span#g-XPOW_MOE_IMAGE(
    style="display:none" data-value=`${XPOW_MOE_IMAGE}`)
//-
//- SOVs: (token icons)
//-
span#g-XPOW_SOV_IMAGE(
    style="display:none" data-value=`${XPOW_SOV_IMAGE}`)
