//-
//- MOEs:
//-
span#g-XPOW_MOE_01a(
    style="display:none" data-value=`${XPOW_MOE_01a}`)
span#g-XPOW_MOE_02a(
    style="display:none" data-value=`${XPOW_MOE_02a}`)
span#g-XPOW_MOE_02b(
    style="display:none" data-value=`${XPOW_MOE_02b}`)
span#g-XPOW_MOE_02c(
    style="display:none" data-value=`${XPOW_MOE_02c}`)
span#g-XPOW_MOE_03a(
    style="display:none" data-value=`${XPOW_MOE_03a}`)
span#g-XPOW_MOE_03b(
    style="display:none" data-value=`${XPOW_MOE_03b}`)
span#g-XPOW_MOE_04a(
    style="display:none" data-value=`${XPOW_MOE_04a}`)
span#g-XPOW_MOE_05a(
    style="display:none" data-value=`${XPOW_MOE_05a}`)
span#g-XPOW_MOE_05b(
    style="display:none" data-value=`${XPOW_MOE_05b}`)
span#g-XPOW_MOE_05c(
    style="display:none" data-value=`${XPOW_MOE_05c}`)
span#g-XPOW_MOE_06a(
    style="display:none" data-value=`${XPOW_MOE_06a}`)
span#g-XPOW_MOE_06b(
    style="display:none" data-value=`${XPOW_MOE_06b}`)
span#g-XPOW_MOE_06c(
    style="display:none" data-value=`${XPOW_MOE_06c}`)
span#g-XPOW_MOE_07a(
    style="display:none" data-value=`${XPOW_MOE_07a}`)
span#g-XPOW_MOE_07b(
    style="display:none" data-value=`${XPOW_MOE_07b}`)
span#g-XPOW_MOE_07c(
    style="display:none" data-value=`${XPOW_MOE_07c}`)
span#g-XPOW_MOE_08a(
    style="display:none" data-value=`${XPOW_MOE_08a}`)
span#g-XPOW_MOE_08b(
    style="display:none" data-value=`${XPOW_MOE_08b}`)
span#g-XPOW_MOE_08c(
    style="display:none" data-value=`${XPOW_MOE_08c}`)
span#g-XPOW_MOE_09a(
    style="display:none" data-value=`${XPOW_MOE_09a}`)
span#g-XPOW_MOE_09b(
    style="display:none" data-value=`${XPOW_MOE_09b}`)
span#g-XPOW_MOE_09c(
    style="display:none" data-value=`${XPOW_MOE_09c}`)
span#g-XPOW_MOE_10a(
    style="display:none" data-value=`${XPOW_MOE_10a}`)
span#g-XPOW_MOE_10b(
    style="display:none" data-value=`${XPOW_MOE_10b}`)
//-
//- NFTs: (bundled MOEs)
//-
span#g-XPOW_NFT_02a(
    style="display:none" data-value=`${XPOW_NFT_02a}`)
span#g-XPOW_NFT_02b(
    style="display:none" data-value=`${XPOW_NFT_02b}`)
span#g-XPOW_NFT_02c(
    style="display:none" data-value=`${XPOW_NFT_02c}`)
span#g-XPOW_NFT_03a(
    style="display:none" data-value=`${XPOW_NFT_03a}`)
span#g-XPOW_NFT_03b(
    style="display:none" data-value=`${XPOW_NFT_03b}`)
span#g-XPOW_NFT_04a(
    style="display:none" data-value=`${XPOW_NFT_04a}`)
span#g-XPOW_NFT_05a(
    style="display:none" data-value=`${XPOW_NFT_05a}`)
span#g-XPOW_NFT_05b(
    style="display:none" data-value=`${XPOW_NFT_05b}`)
span#g-XPOW_NFT_05c(
    style="display:none" data-value=`${XPOW_NFT_05c}`)
span#g-XPOW_NFT_06a(
    style="display:none" data-value=`${XPOW_NFT_06a}`)
span#g-XPOW_NFT_06b(
    style="display:none" data-value=`${XPOW_NFT_06b}`)
span#g-XPOW_NFT_06c(
    style="display:none" data-value=`${XPOW_NFT_06c}`)
span#g-XPOW_NFT_07a(
    style="display:none" data-value=`${XPOW_NFT_07a}`)
span#g-XPOW_NFT_07b(
    style="display:none" data-value=`${XPOW_NFT_07b}`)
span#g-XPOW_NFT_07c(
    style="display:none" data-value=`${XPOW_NFT_07c}`)
span#g-XPOW_NFT_08a(
    style="display:none" data-value=`${XPOW_NFT_08a}`)
span#g-XPOW_NFT_08b(
    style="display:none" data-value=`${XPOW_NFT_08b}`)
span#g-XPOW_NFT_08c(
    style="display:none" data-value=`${XPOW_NFT_08c}`)
span#g-XPOW_NFT_09a(
    style="display:none" data-value=`${XPOW_NFT_09a}`)
span#g-XPOW_NFT_09b(
    style="display:none" data-value=`${XPOW_NFT_09b}`)
span#g-XPOW_NFT_09c(
    style="display:none" data-value=`${XPOW_NFT_09c}`)
span#g-XPOW_NFT_10a(
    style="display:none" data-value=`${XPOW_NFT_10a}`)
span#g-XPOW_NFT_10b(
    style="display:none" data-value=`${XPOW_NFT_10b}`)
//-
//- PPTs: (staked NFTs)
//-
span#g-APOW_NFT_04a(
    style="display:none" data-value=`${APOW_NFT_04a}`)
span#g-APOW_NFT_05a(
    style="display:none" data-value=`${APOW_NFT_05a}`)
span#g-APOW_NFT_05b(
    style="display:none" data-value=`${APOW_NFT_05b}`)
span#g-APOW_NFT_05c(
    style="display:none" data-value=`${APOW_NFT_05c}`)
span#g-APOW_NFT_06a(
    style="display:none" data-value=`${APOW_NFT_06a}`)
span#g-APOW_NFT_06b(
    style="display:none" data-value=`${APOW_NFT_06b}`)
span#g-APOW_NFT_06c(
    style="display:none" data-value=`${APOW_NFT_06c}`)
span#g-APOW_NFT_07a(
    style="display:none" data-value=`${APOW_NFT_07a}`)
span#g-APOW_NFT_07b(
    style="display:none" data-value=`${APOW_NFT_07b}`)
span#g-APOW_NFT_07c(
    style="display:none" data-value=`${APOW_NFT_07c}`)
span#g-APOW_NFT_08a(
    style="display:none" data-value=`${APOW_NFT_08a}`)
span#g-APOW_NFT_08b(
    style="display:none" data-value=`${APOW_NFT_08b}`)
span#g-APOW_NFT_08c(
    style="display:none" data-value=`${APOW_NFT_08c}`)
span#g-APOW_NFT_09a(
    style="display:none" data-value=`${APOW_NFT_09a}`)
span#g-APOW_NFT_09b(
    style="display:none" data-value=`${APOW_NFT_09b}`)
span#g-APOW_NFT_09c(
    style="display:none" data-value=`${APOW_NFT_09c}`)
span#g-APOW_NFT_10a(
    style="display:none" data-value=`${APOW_NFT_10a}`)
span#g-APOW_NFT_10b(
    style="display:none" data-value=`${APOW_NFT_10b}`)
//-
//- SOVs: (rewards on PPTs, wrapping MOEs)
//-
span#g-APOW_SOV_05a(
    style="display:none" data-value=`${APOW_SOV_05a}`)
span#g-APOW_SOV_05b(
    style="display:none" data-value=`${APOW_SOV_05b}`)
span#g-APOW_SOV_05c(
    style="display:none" data-value=`${APOW_SOV_05c}`)
span#g-APOW_SOV_06a(
    style="display:none" data-value=`${APOW_SOV_06a}`)
span#g-APOW_SOV_06b(
    style="display:none" data-value=`${APOW_SOV_06b}`)
span#g-APOW_SOV_06c(
    style="display:none" data-value=`${APOW_SOV_06c}`)
span#g-APOW_SOV_07a(
    style="display:none" data-value=`${APOW_SOV_07a}`)
span#g-APOW_SOV_07b(
    style="display:none" data-value=`${APOW_SOV_07b}`)
span#g-APOW_SOV_07c(
    style="display:none" data-value=`${APOW_SOV_07c}`)
span#g-APOW_SOV_08a(
    style="display:none" data-value=`${APOW_SOV_08a}`)
span#g-APOW_SOV_08b(
    style="display:none" data-value=`${APOW_SOV_08b}`)
span#g-APOW_SOV_08c(
    style="display:none" data-value=`${APOW_SOV_08c}`)
span#g-APOW_SOV_09a(
    style="display:none" data-value=`${APOW_SOV_09a}`)
span#g-APOW_SOV_09b(
    style="display:none" data-value=`${APOW_SOV_09b}`)
span#g-APOW_SOV_09c(
    style="display:none" data-value=`${APOW_SOV_09c}`)
span#g-APOW_SOV_10a(
    style="display:none" data-value=`${APOW_SOV_10a}`)
span#g-APOW_SOV_10b(
    style="display:none" data-value=`${APOW_SOV_10b}`)
//-
//- MOE Treasury: (for MOE/SOV rewards on PPTs)
//-
span#g-XPOW_MTY_04a(
    style="display:none" data-value=`${XPOW_MTY_04a}`)
span#g-XPOW_MTY_05a(
    style="display:none" data-value=`${XPOW_MTY_05a}`)
span#g-XPOW_MTY_05b(
    style="display:none" data-value=`${XPOW_MTY_05b}`)
span#g-XPOW_MTY_05c(
    style="display:none" data-value=`${XPOW_MTY_05c}`)
span#g-XPOW_MTY_06a(
    style="display:none" data-value=`${XPOW_MTY_06a}`)
span#g-XPOW_MTY_06b(
    style="display:none" data-value=`${XPOW_MTY_06b}`)
span#g-XPOW_MTY_06c(
    style="display:none" data-value=`${XPOW_MTY_06c}`)
span#g-XPOW_MTY_07a(
    style="display:none" data-value=`${XPOW_MTY_07a}`)
span#g-XPOW_MTY_07b(
    style="display:none" data-value=`${XPOW_MTY_07b}`)
span#g-XPOW_MTY_07c(
    style="display:none" data-value=`${XPOW_MTY_07c}`)
span#g-XPOW_MTY_08a(
    style="display:none" data-value=`${XPOW_MTY_08a}`)
span#g-XPOW_MTY_08b(
    style="display:none" data-value=`${XPOW_MTY_08b}`)
span#g-XPOW_MTY_08c(
    style="display:none" data-value=`${XPOW_MTY_08c}`)
span#g-XPOW_MTY_09a(
    style="display:none" data-value=`${XPOW_MTY_09a}`)
span#g-XPOW_MTY_09b(
    style="display:none" data-value=`${XPOW_MTY_09b}`)
span#g-XPOW_MTY_09c(
    style="display:none" data-value=`${XPOW_MTY_09c}`)
span#g-XPOW_MTY_10a(
    style="display:none" data-value=`${XPOW_MTY_10a}`)
span#g-XPOW_MTY_10b(
    style="display:none" data-value=`${XPOW_MTY_10b}`)
//-
//- PPT Treasury: (NFT vault for minting of PPTs)
//-
span#g-APOW_NTY_04a(
    style="display:none" data-value=`${APOW_NTY_04a}`)
span#g-APOW_NTY_05a(
    style="display:none" data-value=`${APOW_NTY_05a}`)
span#g-APOW_NTY_05b(
    style="display:none" data-value=`${APOW_NTY_05b}`)
span#g-APOW_NTY_05c(
    style="display:none" data-value=`${APOW_NTY_05c}`)
span#g-APOW_NTY_06a(
    style="display:none" data-value=`${APOW_NTY_06a}`)
span#g-APOW_NTY_06b(
    style="display:none" data-value=`${APOW_NTY_06b}`)
span#g-APOW_NTY_06c(
    style="display:none" data-value=`${APOW_NTY_06c}`)
span#g-APOW_NTY_07a(
    style="display:none" data-value=`${APOW_NTY_07a}`)
span#g-APOW_NTY_07b(
    style="display:none" data-value=`${APOW_NTY_07b}`)
span#g-APOW_NTY_07c(
    style="display:none" data-value=`${APOW_NTY_07c}`)
span#g-APOW_NTY_08a(
    style="display:none" data-value=`${APOW_NTY_08a}`)
span#g-APOW_NTY_08b(
    style="display:none" data-value=`${APOW_NTY_08b}`)
span#g-APOW_NTY_08c(
    style="display:none" data-value=`${APOW_NTY_08c}`)
span#g-APOW_NTY_09a(
    style="display:none" data-value=`${APOW_NTY_09a}`)
span#g-APOW_NTY_09b(
    style="display:none" data-value=`${APOW_NTY_09b}`)
span#g-APOW_NTY_09c(
    style="display:none" data-value=`${APOW_NTY_09c}`)
span#g-APOW_NTY_10a(
    style="display:none" data-value=`${APOW_NTY_10a}`)
span#g-APOW_NTY_10b(
    style="display:none" data-value=`${APOW_NTY_10b}`)
//-
//- MOEs: (token icons)
//-
span#g-XPOW_MOE_IMAGE(
    style="display:none" data-value=`${XPOW_MOE_IMAGE}`)
//-
//- SOVs: (token icons)
//-
span#g-APOW_SOV_IMAGE(
    style="display:none" data-value=`${APOW_SOV_IMAGE}`)
