//-
//- MOEs:
//-
span#g-THOR_MOE_v2a(
    style="display:none" data-value=`${THOR_MOE_V2a}`)
span#g-LOKI_MOE_v2a(
    style="display:none" data-value=`${LOKI_MOE_V2a}`)
span#g-ODIN_MOE_v2a(
    style="display:none" data-value=`${ODIN_MOE_V2a}`)
span#g-THOR_MOE_v3a(
    style="display:none" data-value=`${THOR_MOE_V3a}`)
span#g-LOKI_MOE_v3a(
    style="display:none" data-value=`${LOKI_MOE_V3a}`)
span#g-ODIN_MOE_v3a(
    style="display:none" data-value=`${ODIN_MOE_V3a}`)
span#g-THOR_MOE_v3b(
    style="display:none" data-value=`${THOR_MOE_V3a}`)
span#g-LOKI_MOE_v3b(
    style="display:none" data-value=`${LOKI_MOE_V3a}`)
span#g-ODIN_MOE_v3b(
    style="display:none" data-value=`${ODIN_MOE_V3a}`)
span#g-THOR_MOE_v4a(
    style="display:none" data-value=`${THOR_MOE_V4a}`)
span#g-LOKI_MOE_v4a(
    style="display:none" data-value=`${LOKI_MOE_V4a}`)
span#g-ODIN_MOE_v4a(
    style="display:none" data-value=`${ODIN_MOE_V4a}`)

span#g-THOR_SYMBOL_v2a(
    style="display:none" data-value=`${THOR_SYMBOL_V2a}`)
span#g-LOKI_SYMBOL_v2a(
    style="display:none" data-value=`${LOKI_SYMBOL_V2a}`)
span#g-ODIN_SYMBOL_v2a(
    style="display:none" data-value=`${ODIN_SYMBOL_V2a}`)
span#g-THOR_SYMBOL_v3a(
    style="display:none" data-value=`${THOR_SYMBOL_V3a}`)
span#g-LOKI_SYMBOL_v3a(
    style="display:none" data-value=`${LOKI_SYMBOL_V3a}`)
span#g-ODIN_SYMBOL_v3a(
    style="display:none" data-value=`${ODIN_SYMBOL_V3a}`)
span#g-THOR_SYMBOL_v3b(
    style="display:none" data-value=`${THOR_SYMBOL_V3a}`)
span#g-LOKI_SYMBOL_v3b(
    style="display:none" data-value=`${LOKI_SYMBOL_V3a}`)
span#g-ODIN_SYMBOL_v3b(
    style="display:none" data-value=`${ODIN_SYMBOL_V3a}`)
span#g-THOR_SYMBOL_v4a(
    style="display:none" data-value=`${THOR_SYMBOL_V4a}`)
span#g-LOKI_SYMBOL_v4a(
    style="display:none" data-value=`${LOKI_SYMBOL_V4a}`)
span#g-ODIN_SYMBOL_v4a(
    style="display:none" data-value=`${ODIN_SYMBOL_V4a}`)

span#g-THOR_DECIMALS_v2a(
    style="display:none" data-value=`${THOR_DECIMALS_V2a}`)
span#g-LOKI_DECIMALS_v2a(
    style="display:none" data-value=`${LOKI_DECIMALS_V2a}`)
span#g-ODIN_DECIMALS_v2a(
    style="display:none" data-value=`${ODIN_DECIMALS_V2a}`)
span#g-THOR_DECIMALS_v3a(
    style="display:none" data-value=`${THOR_DECIMALS_V3a}`)
span#g-LOKI_DECIMALS_v3a(
    style="display:none" data-value=`${LOKI_DECIMALS_V3a}`)
span#g-ODIN_DECIMALS_v3a(
    style="display:none" data-value=`${ODIN_DECIMALS_V3a}`)
span#g-THOR_DECIMALS_v3b(
    style="display:none" data-value=`${THOR_DECIMALS_V3a}`)
span#g-LOKI_DECIMALS_v3b(
    style="display:none" data-value=`${LOKI_DECIMALS_V3a}`)
span#g-ODIN_DECIMALS_v3b(
    style="display:none" data-value=`${ODIN_DECIMALS_V3a}`)
span#g-THOR_DECIMALS_v4a(
    style="display:none" data-value=`${THOR_DECIMALS_V4a}`)
span#g-LOKI_DECIMALS_v4a(
    style="display:none" data-value=`${LOKI_DECIMALS_V4a}`)
span#g-ODIN_DECIMALS_v4a(
    style="display:none" data-value=`${ODIN_DECIMALS_V4a}`)

span#g-THOR_IMAGE_v2a(
    style="display:none" data-value=`${THOR_IMAGE_V2a}`)
span#g-LOKI_IMAGE_v2a(
    style="display:none" data-value=`${LOKI_IMAGE_V2a}`)
span#g-ODIN_IMAGE_v2a(
    style="display:none" data-value=`${ODIN_IMAGE_V2a}`)
span#g-THOR_IMAGE_v3a(
    style="display:none" data-value=`${THOR_IMAGE_V3a}`)
span#g-LOKI_IMAGE_v3a(
    style="display:none" data-value=`${LOKI_IMAGE_V3a}`)
span#g-ODIN_IMAGE_v3a(
    style="display:none" data-value=`${ODIN_IMAGE_V3a}`)
span#g-THOR_IMAGE_v3b(
    style="display:none" data-value=`${THOR_IMAGE_V3a}`)
span#g-LOKI_IMAGE_v3b(
    style="display:none" data-value=`${LOKI_IMAGE_V3a}`)
span#g-ODIN_IMAGE_v3b(
    style="display:none" data-value=`${ODIN_IMAGE_V3a}`)
span#g-THOR_IMAGE_v4a(
    style="display:none" data-value=`${THOR_IMAGE_V4a}`)
span#g-LOKI_IMAGE_v4a(
    style="display:none" data-value=`${LOKI_IMAGE_V4a}`)
span#g-ODIN_IMAGE_v4a(
    style="display:none" data-value=`${ODIN_IMAGE_V4a}`)
//-
//- NFTs:
//-
span#g-THOR_NFT_v2a(
    style="display:none" data-value=`${THOR_NFT_V2a}`)
span#g-LOKI_NFT_v2a(
    style="display:none" data-value=`${LOKI_NFT_V2a}`)
span#g-ODIN_NFT_v2a(
    style="display:none" data-value=`${ODIN_NFT_V2a}`)

span#g-THOR_NFT_v3a(
    style="display:none" data-value=`${THOR_NFT_V3a}`)
span#g-LOKI_NFT_v3a(
    style="display:none" data-value=`${LOKI_NFT_V3a}`)
span#g-ODIN_NFT_v3a(
    style="display:none" data-value=`${ODIN_NFT_V3a}`)

span#g-THOR_NFT_v3b(
    style="display:none" data-value=`${THOR_NFT_V3b}`)
span#g-LOKI_NFT_v3b(
    style="display:none" data-value=`${LOKI_NFT_V3b}`)
span#g-ODIN_NFT_v3b(
    style="display:none" data-value=`${ODIN_NFT_V3b}`)

span#g-THOR_NFT_v4a(
    style="display:none" data-value=`${THOR_NFT_V4a}`)
span#g-LOKI_NFT_v4a(
    style="display:none" data-value=`${LOKI_NFT_V4a}`)
span#g-ODIN_NFT_v4a(
    style="display:none" data-value=`${ODIN_NFT_V4a}`)
//-
//- PPTs:
//-
span#g-THOR_PPT_v4a(
    style="display:none" data-value=`${THOR_PPT_V4a}`)
span#g-LOKI_PPT_v4a(
    style="display:none" data-value=`${LOKI_PPT_V4a}`)
span#g-ODIN_PPT_v4a(
    style="display:none" data-value=`${ODIN_PPT_V4a}`)
//-
//- PPT Treasury: (for vaulting of NFTs & minting of PPTs)
//-
span#g-THOR_PPT_TREASURY_v4a(
    style="display:none" data-value=`${THOR_PPT_TREASURY_V4a}`)
span#g-LOKI_PPT_TREASURY_v4a(
    style="display:none" data-value=`${LOKI_PPT_TREASURY_V4a}`)
span#g-ODIN_PPT_TREASURY_v4a(
    style="display:none" data-value=`${ODIN_PPT_TREASURY_V4a}`)
//-
//- MOE Treasury: (for rewards on PPTs)
//-
span#g-THOR_MOE_TREASURY_v4a(
    style="display:none" data-value=`${THOR_MOE_TREASURY_V4a}`)
span#g-LOKI_MOE_TREASURY_v4a(
    style="display:none" data-value=`${LOKI_MOE_TREASURY_V4a}`)
span#g-ODIN_MOE_TREASURY_v4a(
    style="display:none" data-value=`${ODIN_MOE_TREASURY_V4a}`)
