span#g-xpower-address-XPOW_CPU-v2(
    style="display:none" data-value=`${XPOWER_ADDRESS_CPU_V2}`)
span#g-xpower-address-XPOW_GPU-v2(
    style="display:none" data-value=`${XPOWER_ADDRESS_GPU_V2}`)
span#g-xpower-address-XPOW_ASIC-v2(
    style="display:none" data-value=`${XPOWER_ADDRESS_ASC_V2}`)
span#g-xpower-address-XPOW_CPU-v3(
    style="display:none" data-value=`${XPOWER_ADDRESS_CPU_V3}`)
span#g-xpower-address-XPOW_GPU-v3(
    style="display:none" data-value=`${XPOWER_ADDRESS_GPU_V3}`)
span#g-xpower-address-XPOW_ASIC-v3(
    style="display:none" data-value=`${XPOWER_ADDRESS_ASC_V3}`)

span#g-xpower-symbol-XPOW_CPU-v2(
    style="display:none" data-value=`${XPOWER_SYMBOL_CPU_V2}`)
span#g-xpower-symbol-XPOW_GPU-v2(
    style="display:none" data-value=`${XPOWER_SYMBOL_GPU_V2}`)
span#g-xpower-symbol-XPOW_ASIC-v2(
    style="display:none" data-value=`${XPOWER_SYMBOL_ASC_V2}`)
span#g-xpower-symbol-XPOW_CPU-v3(
    style="display:none" data-value=`${XPOWER_SYMBOL_CPU_V3}`)
span#g-xpower-symbol-XPOW_GPU-v3(
    style="display:none" data-value=`${XPOWER_SYMBOL_GPU_V3}`)
span#g-xpower-symbol-XPOW_ASIC-v3(
    style="display:none" data-value=`${XPOWER_SYMBOL_ASC_V3}`)

span#g-xpower-decimals-XPOW_CPU-v2(
    style="display:none" data-value=`${XPOWER_DECIMALS_CPU_V2}`)
span#g-xpower-decimals-XPOW_GPU-v2(
    style="display:none" data-value=`${XPOWER_DECIMALS_GPU_V2}`)
span#g-xpower-decimals-XPOW_ASIC-v2(
    style="display:none" data-value=`${XPOWER_DECIMALS_ASC_V2}`)
span#g-xpower-decimals-XPOW_CPU-v3(
    style="display:none" data-value=`${XPOWER_DECIMALS_CPU_V3}`)
span#g-xpower-decimals-XPOW_GPU-v3(
    style="display:none" data-value=`${XPOWER_DECIMALS_GPU_V3}`)
span#g-xpower-decimals-XPOW_ASIC-v3(
    style="display:none" data-value=`${XPOWER_DECIMALS_ASC_V3}`)

span#g-xpower-image-XPOW_CPU-v2(
    style="display:none" data-value=`${XPOWER_IMAGE_CPU_V2}`)
span#g-xpower-image-XPOW_GPU-v2(
    style="display:none" data-value=`${XPOWER_IMAGE_GPU_V2}`)
span#g-xpower-image-XPOW_ASIC-v2(
    style="display:none" data-value=`${XPOWER_IMAGE_ASC_V2}`)
span#g-xpower-image-XPOW_CPU-v3(
    style="display:none" data-value=`${XPOWER_IMAGE_CPU_V3}`)
span#g-xpower-image-XPOW_GPU-v3(
    style="display:none" data-value=`${XPOWER_IMAGE_GPU_V3}`)
span#g-xpower-image-XPOW_ASIC-v3(
    style="display:none" data-value=`${XPOWER_IMAGE_ASC_V3}`)
