span#g-xpower-address-PARA-v2(
    style="display:none" data-value=`${XPOWER_ADDRESS_PARA_V2}`)
span#g-xpower-address-AQCH-v2(
    style="display:none" data-value=`${XPOWER_ADDRESS_AQCH_V2}`)
span#g-xpower-address-QRSH-v2(
    style="display:none" data-value=`${XPOWER_ADDRESS_QRSH_V2}`)
span#g-xpower-address-PARA-v3a(
    style="display:none" data-value=`${XPOWER_ADDRESS_PARA_V3}`)
span#g-xpower-address-AQCH-v3a(
    style="display:none" data-value=`${XPOWER_ADDRESS_AQCH_V3}`)
span#g-xpower-address-QRSH-v3a(
    style="display:none" data-value=`${XPOWER_ADDRESS_QRSH_V3}`)
span#g-xpower-address-PARA-v3b(
    style="display:none" data-value=`${XPOWER_ADDRESS_PARA_V3}`)
span#g-xpower-address-AQCH-v3b(
    style="display:none" data-value=`${XPOWER_ADDRESS_AQCH_V3}`)
span#g-xpower-address-QRSH-v3b(
    style="display:none" data-value=`${XPOWER_ADDRESS_QRSH_V3}`)

span#g-xpower-symbol-PARA-v2(
    style="display:none" data-value=`${XPOWER_SYMBOL_PARA_V2}`)
span#g-xpower-symbol-AQCH-v2(
    style="display:none" data-value=`${XPOWER_SYMBOL_AQCH_V2}`)
span#g-xpower-symbol-QRSH-v2(
    style="display:none" data-value=`${XPOWER_SYMBOL_QRSH_V2}`)
span#g-xpower-symbol-PARA-v3a(
    style="display:none" data-value=`${XPOWER_SYMBOL_PARA_V3}`)
span#g-xpower-symbol-AQCH-v3a(
    style="display:none" data-value=`${XPOWER_SYMBOL_AQCH_V3}`)
span#g-xpower-symbol-QRSH-v3a(
    style="display:none" data-value=`${XPOWER_SYMBOL_QRSH_V3}`)
span#g-xpower-symbol-PARA-v3b(
    style="display:none" data-value=`${XPOWER_SYMBOL_PARA_V3}`)
span#g-xpower-symbol-AQCH-v3b(
    style="display:none" data-value=`${XPOWER_SYMBOL_AQCH_V3}`)
span#g-xpower-symbol-QRSH-v3b(
    style="display:none" data-value=`${XPOWER_SYMBOL_QRSH_V3}`)

span#g-xpower-decimals-PARA-v2(
    style="display:none" data-value=`${XPOWER_DECIMALS_PARA_V2}`)
span#g-xpower-decimals-AQCH-v2(
    style="display:none" data-value=`${XPOWER_DECIMALS_AQCH_V2}`)
span#g-xpower-decimals-QRSH-v2(
    style="display:none" data-value=`${XPOWER_DECIMALS_QRSH_V2}`)
span#g-xpower-decimals-PARA-v3a(
    style="display:none" data-value=`${XPOWER_DECIMALS_PARA_V3}`)
span#g-xpower-decimals-AQCH-v3a(
    style="display:none" data-value=`${XPOWER_DECIMALS_AQCH_V3}`)
span#g-xpower-decimals-QRSH-v3a(
    style="display:none" data-value=`${XPOWER_DECIMALS_QRSH_V3}`)
span#g-xpower-decimals-PARA-v3b(
    style="display:none" data-value=`${XPOWER_DECIMALS_PARA_V3}`)
span#g-xpower-decimals-AQCH-v3b(
    style="display:none" data-value=`${XPOWER_DECIMALS_AQCH_V3}`)
span#g-xpower-decimals-QRSH-v3b(
    style="display:none" data-value=`${XPOWER_DECIMALS_QRSH_V3}`)

span#g-xpower-image-PARA-v2(
    style="display:none" data-value=`${XPOWER_IMAGE_PARA_V2}`)
span#g-xpower-image-AQCH-v2(
    style="display:none" data-value=`${XPOWER_IMAGE_AQCH_V2}`)
span#g-xpower-image-QRSH-v2(
    style="display:none" data-value=`${XPOWER_IMAGE_QRSH_V2}`)
span#g-xpower-image-PARA-v3a(
    style="display:none" data-value=`${XPOWER_IMAGE_PARA_V3}`)
span#g-xpower-image-AQCH-v3a(
    style="display:none" data-value=`${XPOWER_IMAGE_AQCH_V3}`)
span#g-xpower-image-QRSH-v3a(
    style="display:none" data-value=`${XPOWER_IMAGE_QRSH_V3}`)
span#g-xpower-image-PARA-v3b(
    style="display:none" data-value=`${XPOWER_IMAGE_PARA_V3}`)
span#g-xpower-image-AQCH-v3b(
    style="display:none" data-value=`${XPOWER_IMAGE_AQCH_V3}`)
span#g-xpower-image-QRSH-v3b(
    style="display:none" data-value=`${XPOWER_IMAGE_QRSH_V3}`)
