span#g-THOR_MOE_v2a(
    style="display:none" data-value=`${THOR_MOE_V2a}`)
span#g-LOKI_MOE_v2a(
    style="display:none" data-value=`${LOKI_MOE_V2a}`)
span#g-ODIN_MOE_v2a(
    style="display:none" data-value=`${ODIN_MOE_V2a}`)
span#g-THOR_MOE_v3a(
    style="display:none" data-value=`${THOR_MOE_V3a}`)
span#g-LOKI_MOE_v3a(
    style="display:none" data-value=`${LOKI_MOE_V3a}`)
span#g-ODIN_MOE_v3a(
    style="display:none" data-value=`${ODIN_MOE_V3a}`)
span#g-THOR_MOE_v3b(
    style="display:none" data-value=`${THOR_MOE_V3a}`)
span#g-LOKI_MOE_v3b(
    style="display:none" data-value=`${LOKI_MOE_V3a}`)
span#g-ODIN_MOE_v3b(
    style="display:none" data-value=`${ODIN_MOE_V3a}`)
span#g-THOR_MOE_v4a(
    style="display:none" data-value=`${THOR_MOE_V4a}`)
span#g-LOKI_MOE_v4a(
    style="display:none" data-value=`${LOKI_MOE_V4a}`)
span#g-ODIN_MOE_v4a(
    style="display:none" data-value=`${ODIN_MOE_V4a}`)

span#g-THOR_SYMBOL_v2a(
    style="display:none" data-value=`${THOR_SYMBOL_V2a}`)
span#g-LOKI_SYMBOL_v2a(
    style="display:none" data-value=`${LOKI_SYMBOL_V2a}`)
span#g-ODIN_SYMBOL_v2a(
    style="display:none" data-value=`${ODIN_SYMBOL_V2a}`)
span#g-THOR_SYMBOL_v3a(
    style="display:none" data-value=`${THOR_SYMBOL_V3a}`)
span#g-LOKI_SYMBOL_v3a(
    style="display:none" data-value=`${LOKI_SYMBOL_V3a}`)
span#g-ODIN_SYMBOL_v3a(
    style="display:none" data-value=`${ODIN_SYMBOL_V3a}`)
span#g-THOR_SYMBOL_v3b(
    style="display:none" data-value=`${THOR_SYMBOL_V3a}`)
span#g-LOKI_SYMBOL_v3b(
    style="display:none" data-value=`${LOKI_SYMBOL_V3a}`)
span#g-ODIN_SYMBOL_v3b(
    style="display:none" data-value=`${ODIN_SYMBOL_V3a}`)
span#g-THOR_SYMBOL_v4a(
    style="display:none" data-value=`${THOR_SYMBOL_V4a}`)
span#g-LOKI_SYMBOL_v4a(
    style="display:none" data-value=`${LOKI_SYMBOL_V4a}`)
span#g-ODIN_SYMBOL_v4a(
    style="display:none" data-value=`${ODIN_SYMBOL_V4a}`)

span#g-THOR_DECIMALS_v2(
    style="display:none" data-value=`${THOR_DECIMALS_V2a}`)
span#g-LOKI_DECIMALS_v2(
    style="display:none" data-value=`${LOKI_DECIMALS_V2a}`)
span#g-ODIN_DECIMALS_v2(
    style="display:none" data-value=`${ODIN_DECIMALS_V2a}`)
span#g-THOR_DECIMALS_v3a(
    style="display:none" data-value=`${THOR_DECIMALS_V3a}`)
span#g-LOKI_DECIMALS_v3a(
    style="display:none" data-value=`${LOKI_DECIMALS_V3a}`)
span#g-ODIN_DECIMALS_v3a(
    style="display:none" data-value=`${ODIN_DECIMALS_V3a}`)
span#g-THOR_DECIMALS_v3b(
    style="display:none" data-value=`${THOR_DECIMALS_V3a}`)
span#g-LOKI_DECIMALS_v3b(
    style="display:none" data-value=`${LOKI_DECIMALS_V3a}`)
span#g-ODIN_DECIMALS_v3b(
    style="display:none" data-value=`${ODIN_DECIMALS_V3a}`)
span#g-THOR_DECIMALS_v4a(
    style="display:none" data-value=`${THOR_DECIMALS_V4a}`)
span#g-LOKI_DECIMALS_v4a(
    style="display:none" data-value=`${LOKI_DECIMALS_V4a}`)
span#g-ODIN_DECIMALS_v4a(
    style="display:none" data-value=`${ODIN_DECIMALS_V4a}`)

span#g-THOR_IMAGE_v2(
    style="display:none" data-value=`${THOR_IMAGE_V2a}`)
span#g-LOKI_IMAGE_v2(
    style="display:none" data-value=`${LOKI_IMAGE_V2a}`)
span#g-ODIN_IMAGE_v2(
    style="display:none" data-value=`${ODIN_IMAGE_V2a}`)
span#g-THOR_IMAGE_v3a(
    style="display:none" data-value=`${THOR_IMAGE_V3a}`)
span#g-LOKI_IMAGE_v3a(
    style="display:none" data-value=`${LOKI_IMAGE_V3a}`)
span#g-ODIN_IMAGE_v3a(
    style="display:none" data-value=`${ODIN_IMAGE_V3a}`)
span#g-THOR_IMAGE_v3b(
    style="display:none" data-value=`${THOR_IMAGE_V3a}`)
span#g-LOKI_IMAGE_v3b(
    style="display:none" data-value=`${LOKI_IMAGE_V3a}`)
span#g-ODIN_IMAGE_v3b(
    style="display:none" data-value=`${ODIN_IMAGE_V3a}`)
span#g-THOR_IMAGE_v4a(
    style="display:none" data-value=`${THOR_IMAGE_V4a}`)
span#g-LOKI_IMAGE_v4a(
    style="display:none" data-value=`${LOKI_IMAGE_V4a}`)
span#g-ODIN_IMAGE_v4a(
    style="display:none" data-value=`${ODIN_IMAGE_V4a}`)
