span#g-mining-speed(
    style="display:none" data-value=`${UI_MINING_SPEED}`)
span#g-persistence(
    style="display:none" data-value=`${UI_PERSISTENCE}`)
span#g-worker-path(
    style="display:none" data-value="{{UI_WORKER_PATH}}")
