doctype html
html(
  lang="en" style="--xp-accentuated:{{XP_ACCENTUATED}};--xp-accentuated-i:{{XP_ACCENTUATEDi}};--xp-accentuated-dark:{{XP_ACCENTUATED_DARK}};--xp-accentuated-dark-i:{{XP_ACCENTUATED_DARKi}};--xp-powered:{{XP_POWERED}};--xp-powered-i:{{XP_POWEREDi}};--xp-powered-dark:{{XP_POWERED_DARK}};--xp-powered-dark-i:{{XP_POWERED_DARKi}};"
)
  head
    if mode !== 'development'
      include ./analytics.pug
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content='{{DESCRIPTION}}.')
    title='{{TITLE}}'
    link(
      href="/images/svg/xpower-light.svg" media="(prefers-color-scheme:light)" rel="icon")
    link(
      href="/images/svg/xpower-dark.svg" media="(prefers-color-scheme:dark)" rel="icon")
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha256-MBffSnbbXwHCuZtgPYiwMQbfE7z+GOZ7fBPCNB06Z98="
      crossorigin="anonymous" rel="stylesheet")
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha256-u2/YzYU5TLNn6KxY5HKS8taOsoj6Evq2jmVDCl3fzkg=" crossorigin="anonymous"
      rel="stylesheet")
    block styles
  body.container.d-flex.flex-column.p-3.pb-0(
    ondragstart="return false;" ondrop="return false;"
  )
    block globals
    block header
    block content
    block footer
    script(
      src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous")
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha256-gvZPYrsDwbwYJLD5yeBfcNujPhRoGOY831wwbIzz3t0=" crossorigin="anonymous")
    script(
      src="https://cdn.jsdelivr.net/npm/ethers@6.12.0/dist/ethers.umd.min.js"
      integrity="sha256-f5iLwQiFw8If7KUF2hSB74TgEKBK2O85tfgqjeFf5G8=" crossorigin="anonymous")
    if mode === 'development'
      script(
        src="https://cdn.jsdelivr.net/npm/react@18.3.1/umd/react.development.js"
        integrity="sha256-KDSP72yw7Yss7rIt6vgkQo/ROHXYTHPTj3fdIW/CTn8=" crossorigin="anonymous")
      script(
        src="https://cdn.jsdelivr.net/npm/react-dom@18.3.1/umd/react-dom.development.js"
        integrity="sha256-+QRKXpw524uxogTf+STlJuwKYh5pW7ad4QNYEb6HCeQ=" crossorigin="anonymous")
    else
      script(
        src="https://cdn.jsdelivr.net/npm/react@18.3.1/umd/react.production.min.js"
        integrity="sha256-2Unxw2h67a3O2shSYYZfKbF80nOZfn9rK/xTsvnUxN0=" crossorigin="anonymous")
      script(
        src="https://cdn.jsdelivr.net/npm/react-dom@18.3.1/umd/react-dom.production.min.js"
        integrity="sha256-NfT5dPSyvNRNpzljNH+JUuNB+DkJ5EmCJ9Tia5j2bw0=" crossorigin="anonymous")
    block scripts
