extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/global.pug

  span#g-xpower-nft-address-v1-XPOW_CPU(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_CPU_V1}`)
  span#g-xpower-nft-address-v1-XPOW_GPU(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_GPU_V1}`)
  span#g-xpower-nft-address-v1-XPOW_ASIC(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_ASC_V1}`)

  span#g-xpower-nft-address-v2-XPOW_CPU(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_CPU_V2}`)
  span#g-xpower-nft-address-v2-XPOW_GPU(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_GPU_V2}`)
  span#g-xpower-nft-address-v2-XPOW_ASIC(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_ASC_V2}`)

block header
  include ../header/header.pug

block content
  content
    h1: | Mint stakeable XPower NFT Bonds on Avalanche <img src="/images/png/avalanche-icon/avalanche-64x64.png" height=24 width=24>
    include ../connector/connector.pug
    include ../wallet/wallet.pug
    include ../selector/selector.pug
    include ./list/list.pug
    include ./minter/minter.pug

block footer
  include ../footer/footer.pug
