form#mining
  div.btn-group.toggle-mining(role="group")
    button.btn.btn-outline-warning#toggle-mining(
      type="button" disabled
    )
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="visibility: hidden"
      )
      span.text: | Start Mining

    span(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Select from one of three XPOW tokens to mine"
    )
      button.btn.btn-outline-warning#select-token.dropdown-toggle(
        type="button" data-bs-toggle="dropdown"
      )
        | {{TOKEN_SUFFIX}}
      ul.dropdown-menu
        li: a.dropdown-item(href="?token=XPOW.CPU")
          | XPOW.CPU: ideal for (in-browser) CPU miners
        li: a.dropdown-item(href="?token=XPOW.GPU")
          | XPOW.GPU: meant for dedicated GPU miners
        li: a.dropdown-item(href="?token=XPOW.ASIC")
          | XPOW.ASIC: choice of professional ASIC miners

    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Toggle mining for XPOW tokens (w/o minting them)"
    )
      include ../../../public/images/pug/info-circle-fill.svg.pug

  div.btn-group.tweak-mining(role="group")
    div.btn-group.decelerator(role="group")
      button.btn.btn-outline-warning#decelerate(
        type="button" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Decelerate mining speed" disabled
      )
        include ../../../public/images/pug/dash-circle-fill.svg.pug
    div.btn-group.progressor(
      role="group" data-bs-toggle="tooltip" data-bs-placement="top"
      title=`Mining speed: ${UI_MINING_SPEED}%`
    )
      div.progress: div#speed.progress-bar.with-indicator(
        role="progressbar" style=`width: ${UI_MINING_SPEED}%`
      )
    div.btn-group.accelerator(role="group")
      button.btn.btn-outline-warning#accelerate(
        type="button" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Accelerate mining speed" disabled
      )
        include ../../../public/images/pug/plus-circle-fill.svg.pug
