div#nft-single-minting
  - let levels = ["UNIT", "KILO", "MEGA", "GIGA", "TERA", "PETA", "EXA", "ZETTA", "YOTTA", "1E27"]
  - let index = 0
  while index < 5
    div.btn-group.nft-minter(
      role="group"
    )
      div.btn-group(role="group")
        button.btn.btn-outline-warning.toggle.no-ellipsis(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Show ${levels[index]} NFTs`
        )
          i(class=`bi-chevron-{{NFT_${levels[index]}_CHEVRON}}`)
      button.btn.btn-outline-warning.minter(
        type="button" data-bs-toggle="tooltip" data-bs-placement="top"
        title=`${levels[index]} NFTs`
      )
        | #{levels[index]}<span class="d-none d-sm-inline"> NFTs</span>
      button.btn.btn-outline-warning.balance(
        type="button" data-bs-toggle="tooltip" data-bs-placement="top"
        title=`Overall personal balance & supply of ${levels[index]} NFTs`
      )
        span: | 0
        span.d-none.d-sm-inline: | &nbsp;/&nbsp;
        span.d-none.d-sm-inline: | 0
      div.btn-group(role="group")
        button.btn.btn-outline-warning.decrease(
          type="button" aria-label="Decrease" disabled
        )
          include ../../../public/images/pug/dash-circle-fill.svg.pug
      input.btn.btn-outline-warning.amount(
        data-bs-toggle="tooltip" data-bs-placement="top"
        title=`${levels[index]} NFTs to mint`
        type="number" value="0"
        name=`nft-amount-${levels[index]}`
      )
      div.btn-group(role="group")
        button.btn.btn-outline-warning.increase(
          type="button" aria-label="Increase" disabled
        )
          include ../../../public/images/pug/plus-circle-fill.svg.pug
    div.nft-details(
      role="group" style=`display:{{NFT_${levels[index]}_DISPLAY}}`
    )
      include ../details/details.pug
    - index++
