div#nft-batch-minting
  div.btn-group.nft-batch-minter(
    role="group"
  )
    button.btn.btn-outline-warning#toggle-all.no-ellipsis(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title=`Show all NFT levels` data-state="off"
    )
      i.bi-chevron-double-down
    button.btn.btn-outline-warning#nft-burn-approval(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve burning of {{TOKEN}}s to enable NFT minting" disabled
    )
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="visibility: hidden"
      )
      span.text: | Approve NFT Minting
    button.btn.btn-outline-warning#nft-batch-minter(
      type="button" disabled
    )
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="visibility: hidden"
      )
      span.text: | Mint NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="(Batch) mint stakeable {{TOKEN}} NFTs"
    )
      include ../../../public/images/pug/info-circle-fill.svg.pug
