form#connector
  div.btn-group.connect-wallet(role="group")
    a#connect-wallet.btn.btn-outline-warning(
      type="button" target="_blank" disabled
    )
      span.spinner.spinner-border.spinner-border-sm.float-start.spinner-grow(
        role="status" style="visibility: hidden;"
      )
      span.text: | Connecting to Wallet…
    button.btn.btn-outline-warning.info(
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Authorize your wallet to be connected to"
      type="button"
    )
      include ../../public/images/pug/wifi-1.svg.pug
