a.avalanche.nav-link(
    href="https://www.avalabs.org/" rel="noreferrer" target="_blank"
    data-bs-toggle="tooltip" data-bs-placement="top" title="Powered by Avalanche"
)
    img.fff(
        srcset="/images/png/avalanche-logo/50/powered-by-avalanche[fff].png 224w,/images/png/avalanche-logo/25/powered-by-avalanche[000].png 112w"
        src="/images/png/avalanche-logo/powered-by-avalanche[fff].png" alt="Avalanche Logo" height="32" width="93")
    img.red(
        srcset="/images/png/avalanche-logo/50/powered-by-avalanche[red].png 224w,/images/png/avalanche-logo/25/powered-by-avalanche[000].png 112w"
        src="/images/png/avalanche-logo/powered-by-avalanche[red].png" alt="Avalanche Logo" height="32" width="93")
