footer.mt-auto.pb-3
    nav.navbar.px-2
        ul.navbar-nav
            li.nav-item
                span: | &copy;
                span
                    = ' ' + new Date().getFullYear()
                span.d-none.d-sm-inline
                    = ' ' + UI_COPYRIGHT

        ul.navbar-nav.d-flex.flex-row.ml-auto
            li.nav-item
                a.nav-link.link-light.lower.add-token(
                    href="#" title="Add the {{TOKEN}} token to your Metamask"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                )
                    i.bi.bi-lightning-charge-fill
                    i.bi.bi-lightning-charge
            li.nav-item
                a.nav-link.link-light.lower.smart-contract.px-1(
                    target="_blank" title="Smart contract for the {{TOKEN}} token"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                )
                    i.bi.bi-cpu-fill
                    i.bi.bi-cpu
            li.nav-item
                a.nav-link.link-light.lower.github.px-1(
                    href="https://github.com/xpowermine" target="_blank"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub"
                )
                    i.bi.bi-github
            li.nav-item
                include ./footer-discord.pug
            li.nav-item
                include ./footer-twitter.pug
            li.nav-item
                include ./footer-avalanche.pug
