extends ../index

block styles
  include ../theme/theme.pug

block globals
  span#g-xpower-address-PARA(
    style="display:none" data-value=`${XPOWER_ADDRESS_PARA}`)
  span#g-xpower-address-AQCH(
    style="display:none" data-value=`${XPOWER_ADDRESS_AQCH}`)
  span#g-xpower-address-QRSH(
    style="display:none" data-value=`${XPOWER_ADDRESS_QRSH}`)

  span#g-xpower-symbol-PARA(
    style="display:none" data-value=`${XPOWER_SYMBOL_PARA}`)
  span#g-xpower-symbol-AQCH(
    style="display:none" data-value=`${XPOWER_SYMBOL_AQCH}`)
  span#g-xpower-symbol-QRSH(
    style="display:none" data-value=`${XPOWER_SYMBOL_QRSH}`)

  span#g-xpower-decimals-PARA(
    style="display:none" data-value=`${XPOWER_DECIMALS_PARA}`)
  span#g-xpower-decimals-AQCH(
    style="display:none" data-value=`${XPOWER_DECIMALS_AQCH}`)
  span#g-xpower-decimals-QRSH(
    style="display:none" data-value=`${XPOWER_DECIMALS_QRSH}`)

  span#g-xpower-image-PARA(
    style="display:none" data-value=`${XPOWER_IMAGE_PARA}`)
  span#g-xpower-image-AQCH(
    style="display:none" data-value=`${XPOWER_IMAGE_AQCH}`)
  span#g-xpower-image-QRSH(
    style="display:none" data-value=`${XPOWER_IMAGE_QRSH}`)

block header
  include ../header/header.pug

block content
  h1=`{{message}} ({{status}})`

  table.buggy
    td.text-center
      i.bi.bi-bug-fill

  if error && error.stack
    pre.error-stack #{error.stack}

block footer
  include ../footer/footer.pug
