form#selector
  div.btn-group.selectors(
    role="group"
  )
    a.btn.btn-outline-warning.selector-xpow(
      type="button" href="?token=XPOW" class="{{SELECT0R_XPOW}}"
    )
      span.spinner.spinner-border.spinner-border-sm.float-sm-start(
        role="status"  style="display:none"
      )
      img.float-sm-start(
          alt="XPOW"
          class="{{xtoken}}"
          height="24" width="24"
          src=`/images/svg/xpow-black.svg`
      )
      span.d-none.d-sm-inline: | XPOW
