form#selector
  div.btn-group.selectors(
    role="group"
  )
    a.btn.btn-outline-warning.selector-para(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href=`?token=PARA` title="Use PARA tokens"
    )
      | PARA
    a.btn.btn-outline-warning.selector-aqch(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=AQCH" title="Use AQCH tokens"
    )
      | AQCH
    a.btn.btn-outline-warning.selector-qrsh(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=QRSH" title="Use QRSH tokens"
    )
      | QRSH
