form#selector
  div.btn-group.selectors(
    role="group"
  )
    a.btn.btn-outline-warning.selector-thor(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href=`?token=THOR` title="THOR tokens"
    )
      img.float-sm-start(
          class="{{token}}" src=`/images/svg/thor-black.svg`
      )
      span.d-none.d-sm-inline: | THOR
    a.btn.btn-outline-warning.selector-loki(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=LOKI" title="LOKI tokens"
    )
      img.float-sm-start(
          class="{{token}}" src=`/images/svg/loki-black.svg`
      )
      span.d-none.d-sm-inline: | LOKI
    a.btn.btn-outline-warning.selector-odin(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=ODIN" title="ODIN tokens"
    )
      img.float-sm-start(
          class="{{token}}" src=`/images/svg/odin-black.svg`
      )
      span.d-none.d-sm-inline: | ODIN
