form#selector
  div.btn-group.selectors(
    role="group"
  )
    a.btn.btn-outline-warning.selector-thor(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=THOR" title="XPower THOR" data-bs-fixed="true"
    )
      span.spinner.spinner-border.spinner-border-sm.float-sm-start(
        role="status" style="display:none"
      )
      img.float-sm-start(
          alt="Thor"
          class="{{token}}"
          height="24" width="24"
          src=`/images/svg/thor-black.svg`
      )
      span.d-none.d-sm-inline: | THOR
    a.btn.btn-outline-warning.selector-loki(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=LOKI" title="XPower LOKI" data-bs-fixed="true"
    )
      span.spinner.spinner-border.spinner-border-sm.float-sm-start(
        role="status"  style="display:none"
      )
      img.float-sm-start(
          alt="Loki"
          class="{{token}}"
          height="24" width="24"
          src=`/images/svg/loki-black.svg`
      )
      span.d-none.d-sm-inline: | LOKI
    a.btn.btn-outline-warning.selector-odin(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=ODIN" title="XPower ODIN" data-bs-fixed="true"
    )
      span.spinner.spinner-border.spinner-border-sm.float-sm-start(
        role="status" style="display:none"
      )
      img.float-sm-start(
          alt="Odin"
          class="{{token}}"
          height="24" width="24"
          src=`/images/svg/odin-black.svg`
      )
      span.d-none.d-sm-inline: | ODIN
