form#selector
  div.btn-group.selectors(
    role="group"
  )
    a.btn.btn-outline-warning.selector-thor(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href=`?token=THOR` title="Use THOR tokens"
    )
      | THOR
    a.btn.btn-outline-warning.selector-loki(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=LOKI" title="Use LOKI tokens"
    )
      | LOKI
    a.btn.btn-outline-warning.selector-odin(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      href="?token=ODIN" title="Use ODIN tokens"
    )
      | ODIN
