div#minting
  label.form-label(for="mined-nonces")
    | Mined Amounts (not minted yet)
  - let level = 1
  while level <= 64
    div.btn-group.mint(
      role="group"
    )
      button.btn.btn-outline-warning.minter(
        type="button" disabled
      )
        span.spinner.spinner-border.spinner-border-sm.float-start.spinner-grow(
          role="status" style="visibility: hidden;"
        )
        span.text: | Mint {{AMOUNT_#{level}}} <span class="d-none d-sm-inline">{{TOKEN}}</span>
      span.d-inline-block(
        tabindex=0 data-bs-toggle="tooltip" data-bs-placement="left"
        title=`Number of level {{LEVEL_${level}}} {{TOKEN}} tokens mined`
      )
        button.btn.btn-outline-warning.nn-counter(
          style="border-radius: 0"
          type="button" disabled
        )
          | 0
      span.d-inline-block(
        tabindex=0 data-bs-toggle="tooltip" data-bs-placement="left"
        title=`Number of level {{LEVEL_${level}}} {{TOKEN}} tokens minted`
      )
        button.btn.btn-outline-warning.tx-counter(
          style="border-radius: 0"
          type="button" disabled
        )
          | 0
      span.d-inline-block(
        tabindex=0 data-bs-toggle="tooltip" data-bs-placement="top"
        title=`Forget the tokens mined so far (w/o minting them)`
      )
        button.btn.btn-outline-warning.forget(
          style="border-radius: 0 4px 4px 0"
          type="button" disabled
        )
          | &times;
    - level++
