form#minting
  label.form-label(for="mined-nonces")
    | Mined Amounts (not minted yet)
  - let level = 1
  while level <= 64
    - let amount_odin = 16n ** BigInt(level) - 1n
    - let amount_loki = 2n ** BigInt(level) - 1n
    - let amount_thor = BigInt(level)
    div.btn-group.mint(
      role="group" data-level=`${level}` data-tx-counter=0
      data-amount-odin=`${amount_odin.toString()}`
      data-amount-loki=`${amount_loki.toString()}`
      data-amount-thor=`${amount_thor.toString()}`
    )
      button.btn.btn-outline-warning.minter(
        type="button" disabled
      )
        | Mint {{LEVEL_#{level}}} <span class="d-none d-sm-inline">{{TOKEN}}</span>
      span.d-inline-block(
        tabindex=0 data-bs-toggle="tooltip" data-bs-placement="left"
        title=`Number of {{LEVEL_${level}}} {{TOKEN_SUFFIX}} tokens mined & minted`
      )
        button.btn.btn-outline-warning.counters(
          style="border-radius: 0"
          type="button" disabled
        )
          span.badge.nn-counter: | 0
          span.badge.tx-counter: | 0
      span.d-inline-block(
        tabindex=0 data-bs-toggle="tooltip" data-bs-placement="top"
        title=`Forget the tokens mined so far (w/o minting them)`
      )
        button.btn.btn-outline-warning.forget(
          style="border-radius: 0 4px 4px 0; border-left: none"
          type="button" disabled
        )
          | &times;
    - level++
