div#ppt-batch-minting
  div.btn-group.ppt-batch-minter(
    role="group"
  )
    button.btn.btn-outline-warning#toggle-all.no-ellipsis
      i.bi-chevron-double-down
    button.btn.btn-outline-warning#ppt-burn-approval(disabled)
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="display: none"
      )
      span.text: | Approve NFT Staking
    button.btn.btn-outline-warning#ppt-claim-approval(disabled)
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="display: none"
      )
      span.text: | Approve APOW Claiming
    button.btn.btn-outline-warning#ppt-batch-minter(disabled)
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="display: none"
      )
      span.text: | Stake<span class="d-none d-sm-inline"> NFTs</span>
    button.btn.btn-outline-warning#ppt-batch-claimer(disabled)
      span.spinner.spinner-border.spinner-border-sm.float-start(
        role="status" style="display: none"
      )
      span.text: | Claim<span class="d-none d-sm-inline"> Rewards</span>
    button.btn.btn-outline-warning.info
      include ../../../public/images/pug/info-circle-fill.svg.pug
