each year in Array.from(YEARS).reverse()
  - let nft_id = 100 * year + 3 * index
  div.row.year(
    data-year=`${year}` style=`display:${
      YEARS[YEARS.length-1] - year ? 'none' : 'flex'
    }`
    data-state=`${
      YEARS[YEARS.length-1] - year ? 'off' : 'on'
    }`
  )
    div.col-sm.nft-details-lhs
      div.nft-image-wrap
        a(target="_blank")
          span.spinner.spinner-border(
            role="status"
          )
          img.img-fluid.nft-image(
            data-bs-toggle="tooltip" data-bs-placement="top" loading="lazy" data-id=`${nft_id}`
            title=`Trade ${levels[index]} NFTs (level ${index+1}/9 & ID #${nft_id})`
          )

    div.col-sm.nft-details-rhs
      label.form-label
        | Year of Issuance
      div.input-group.nft-issuance-year
        input.form-control(
          type="number" value=`${year}` readonly
        )
        span.input-group-text.info(
          data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Year of issuance of these ${levels[index]} NFTs`
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug

      label.form-label
        | Personal Balance
      div.input-group.nft-balance
        input.form-control(
          type="number" placeholder="0" readonly
        )
        span.input-group-text.info(
          data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Personal balance of ${levels[index]} NFTs (for ${year})`
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug

      label.form-label
        | Total Supply
      div.input-group.nft-total-supply
        input.form-control(
          type="number" placeholder="0" readonly
        )
        span.input-group-text.info(
          data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Total supply of ${levels[index]} NFTs minted so far (for ${year})`
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.btn-group.nft-sender-expander.d-sm-none(
        role="group" data-level=`${levels[index]}`
        style="margin-top: 1em; width: 100%"
      )
        button.btn.btn-outline-warning.toggle-old.no-ellipsis(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Show older NFTs` data-state="off"
        )
          i.bi-eye-fill
        button.btn.btn-outline-warning.sender-expander(
          type="button"
        )
          i.bi-chevron-down
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Show send to & amount` style="width: 43px"
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug

      label.form-label.nft-transfer-to-label.d-none.d-sm-flex
        | Send To
      div.input-group.nft-transfer-to.d-none.d-sm-flex(
        role="group"  data-level=`${levels[index]}`
      )
        input.form-control(
          type="text" placeholder="0x…" disabled
        )
        span.input-group-text.info(
          data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Address to send minted ${levels[index]} NFTs to (for ${year})`
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug

      label.form-label.nft-transfer-amount-label.d-none.d-sm-flex
        | Send Amount
      div.input-group.nft-transfer-amount.d-none.d-sm-flex(
        role="group"  data-level=`${levels[index]}`
      )
        input.form-control(
          type="number" placeholder="0" min="0"  disabled
        )
        span.input-group-text.info(
          data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Amount of minted ${levels[index]} NFTs to send (for ${year})`
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.btn-group.nft-sender.d-none.d-sm-flex(
        role="group" data-id=`${nft_id}` data-level=`${levels[index]}`
      )
        button.btn.btn-outline-warning.toggle-old.no-ellipsis(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Show older NFTs` data-state="off"
        )
          i.bi-eye-fill
        button.btn.btn-outline-warning.sender(
          type="button" disabled
        )
          span.spinner.spinner-border.spinner-border-sm.float-start(
            role="status" style="visibility: hidden"
          )
          span.text: | Send #{levels[index]} NFTs
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title=`Send ${levels[index]} NFTs to destination (for ${year})`
        )
          include ../../../public/images/pug/info-circle-fill.svg.pug
  hr.year(style=`display:${
    YEARS[YEARS.length-1] - year ? 'none' : 'block'
  }`)
