each year in Array.from(YEARS).reverse()
  - let nft_id = 100 * year + 3 * index
  div.row.year(
    style=`display:${
      YEARS[YEARS.length-1] - year ? 'none' : 'flex'
    }`
  )
    div.col-sm.nft-details-lhs
      div.nft-image-wrap
        a(target="_blank")
          span.spinner.spinner-border(role="status")
          img.img-fluid.nft-image(loading="lazy")

    div.col-sm.nft-details-rhs
      div.form-label
        | Year of Issuance
      div.input-group.nft-issuance-year
        input.form-control(
          readonly value=`${year}`
          name=`nft-issuance-year-${levels[index]}-${year}`
        )
        span.input-group-text.info
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.form-label
        | Personal Balance
      div.input-group.nft-balance
        input.form-control(
          placeholder="0" readonly
          name=`nft-balance-${levels[index]}-${year}`
        )
        span.input-group-text.info
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.form-label
        | Total Supply
      div.input-group.nft-total-supply
        input.form-control(
          placeholder="0" readonly
          name=`nft-total-supply-${levels[index]}-${year}`
        )
        span.input-group-text.info
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.btn-group.nft-sender-expander.d-sm-none(
        role="group" style="margin-top: 1em; width: 100%"
      )
        button.btn.btn-outline-warning.toggle-old.no-ellipsis
          i.bi-eye-fill
        button.btn.btn-outline-warning.sender-expander
          i.bi-chevron-down
        button.btn.btn-outline-warning.info(style="width: 43px")
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.form-label.nft-transfer-to-label.d-none.d-sm-flex
        | Send To
      div.input-group.nft-transfer-to.d-none.d-sm-flex(
        role="group"
      )
        input.form-control(
          placeholder="0x…" disabled
          name=`nft-transfer-to-${levels[index]}-${year}`
      )
        span.input-group-text.info
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.form-label.nft-transfer-amount-label.d-none.d-sm-flex
        | Send Amount
      div.input-group.nft-transfer-amount.d-none.d-sm-flex(
        role="group"
      )
        input.form-control(
          type="number" placeholder="0" min="0"  disabled
          name=`nft-transfer-amount-${levels[index]}-${year}`
        )
        span.input-group-text.info
          include ../../../public/images/pug/info-circle-fill.svg.pug

      div.btn-group.nft-sender.d-none.d-sm-flex(
        role="group"
      )
        button.btn.btn-outline-warning.toggle-old.no-ellipsis
          i.bi-eye-fill
        button.btn.btn-outline-warning.sender(disabled)
          span.spinner.spinner-border.spinner-border-sm.float-start(
            role="status" style="display: none"
          )
          span.text: | Send #{levels[index]} NFTs
        button.btn.btn-outline-warning.info
          include ../../../public/images/pug/info-circle-fill.svg.pug
  hr.year(style=`display:${
    YEARS[YEARS.length-1] - year ? 'none' : 'block'
  }`)
