extends ../index

block styles
  include ../theme/theme.pug
  link(
    href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
    integrity="sha256-uik/hNqHWZldXh/0K35nqOSCff9F61/ZOFReqNOBgB0="
    crossorigin="anonymous" rel="stylesheet")

block globals
  include ../global/global.pug

  span#g-urls-about(
    style="display:none" data-value=`${MD_ABOUT_URL}`)

block header
  include ../header/header.pug

block content
  content

block footer
  include ../footer/footer.pug

block scripts
  script(
    src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"
    integrity="sha256-6xggdIcWFnTnFwh8MX2xSsGmLa2uzMuAJJnOFzv+tzk="
    crossorigin="anonymous" defer)
  script(
    src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"
    integrity="sha256-y39Mpg7V3D4lhBX4x6O0bUqTV4pSrfgwEfGKfxkOdgI="
    crossorigin="anonymous" defer)
  script(
    src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"
    integrity="sha256-hNyljag6giCsjv/yKmxK8/VeHzvMDvc5u8AzmRvm1BI="
    crossorigin="anonymous")
  script(
    src="https://cdn.jsdelivr.net/npm/markdown-it-anchor@8.6.4/dist/markdownItAnchor.umd.js"
    integrity="sha256-is0GToRxOcbAVq2XJvDAs5V0jnjYaKezgbMHdjB2r+E="
    crossorigin="anonymous")
