div#ppt-single-minting
  - let levels = ["UNIT", "KILO", "MEGA", "GIGA", "TERA", "PETA", "EXA", "ZETTA", "YOTTA", "1E27"]
  - let index = 0
  while index < 5
    div.btn-group.ppt-minter(
      role="group"
    )
      div.btn-group(role="group")
        button.btn.btn-outline-warning.toggle.no-ellipsis
          i(class=`bi-chevron-{{NFT_${levels[index]}_CHEVRON}}`)
      button.btn.btn-outline-warning.minter
        | #{levels[index]}<span class="d-none d-sm-inline"> NFTs</span>
      button.btn.btn-outline-warning.balance
        span: | 0
        span.d-none.d-sm-inline: | &nbsp;/&nbsp;
        span.d-none.d-sm-inline: | 0
      div.btn-group(role="group")
        button.btn.btn-outline-warning.decrease(disabled)
          include ../../../public/images/pug/dash-circle-fill.svg.pug
      input.btn.btn-outline-warning.amount(
        name=`ppt-amount-${levels[index]}`
        type="number" value="0"
      )
      div.btn-group(role="group")
        button.btn.btn-outline-warning.increase(disabled)
          include ../../../public/images/pug/plus-circle-fill.svg.pug
    div.nft-details(
      role="group" style=`display:{{NFT_${levels[index]}_DISPLAY}}`
    )
      include ../details/details.pug
    - index++
