//-
//- [v4a to v5a]
//-
form.claim-any
  label.form-label
    | Claiming of Rewards [v4a]
  div.btn-group.claim-any.thor(role="group")
    button.claim-any.thor.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Claim THOR Rewards
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Claim the old THOR rewards"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.claim-any.loki(role="group")
    button.claim-any.loki.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Claim LOKI Rewards
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Claim the old LOKI rewards"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.claim-any.odin(role="group")
    button.claim-any.odin.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Claim ODIN Rewards
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Claim the old ODIN rewards"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
//-
//- [v5a to v5b]
//-
//- form.claim-any
//-   label.form-label
//-     | Claiming of Rewards [v5a]
//-   div.btn-group.claim-any.thor(role="group")
//-     button.claim-any.thor.btn.btn-outline-warning(
//-       type="button" data-source="v5a" data-target="v5b" disabled
//-     )
//-       | Claim aTHOR Rewards
//-     button.btn.btn-outline-warning.info(
//-       type="button" data-bs-toggle="tooltip" data-bs-placement="top"
//-       title="Claim the old aTHOR rewards"
//-     )
//-       include ../../public/images/pug/info-circle-fill.svg.pug
//-   div.btn-group.claim-any.loki(role="group")
//-     button.claim-any.loki.btn.btn-outline-warning(
//-       type="button" data-source="v5a" data-target="v5b" disabled
//-     )
//-       | Claim aLOKI Rewards
//-     button.btn.btn-outline-warning.info(
//-       type="button" data-bs-toggle="tooltip" data-bs-placement="top"
//-       title="Claim the old aLOKI rewards"
//-     )
//-       include ../../public/images/pug/info-circle-fill.svg.pug
//-   div.btn-group.claim-any.odin(role="group")
//-     button.claim-any.odin.btn.btn-outline-warning(
//-       type="button" data-source="v5a" data-target="v5b" disabled
//-     )
//-       | Claim aODIN Rewards
//-     button.btn.btn-outline-warning.info(
//-       type="button" data-bs-toggle="tooltip" data-bs-placement="top"
//-       title="Claim the old aODIN rewards"
//-     )
//-       include ../../public/images/pug/info-circle-fill.svg.pug
