extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/global.pug

  span#g-xpower-nft-address-PARA-v2(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_PARA_V2}`)
  span#g-xpower-nft-address-AQCH-v2(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_AQCH_V2}`)
  span#g-xpower-nft-address-QRSH-v2(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_QRSH_V2}`)

  span#g-xpower-nft-address-PARA-v3a(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_PARA_V3a}`)
  span#g-xpower-nft-address-AQCH-v3a(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_AQCH_V3a}`)
  span#g-xpower-nft-address-QRSH-v3a(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_QRSH_V3a}`)

  span#g-xpower-nft-address-PARA-v3b(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_PARA_V3b}`)
  span#g-xpower-nft-address-AQCH-v3b(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_AQCH_V3b}`)
  span#g-xpower-nft-address-QRSH-v3b(
    style="display:none" data-value=`${XPOWER_NFT_ADDRESS_QRSH_V3b}`)

block header
  include ../header/header.pug

block content
  content
    h1: | Upgrade old XPower.v2 tokens to v3
    include ../connector/connector.pug

  include ./migrate.pug
  include ./integrate.pug
  include ./migrate-nft.pug
  include ./migrate-nft2.pug

block footer
  include ../footer/footer.pug
