extends ../index

block styles
  include ../theme/theme.pug

block globals
  include ../global/global.pug

  span#g-THOR_NFT_v2a(
    style="display:none" data-value=`${THOR_NFT_V2a}`)
  span#g-LOKI_NFT_v2a(
    style="display:none" data-value=`${LOKI_NFT_V2a}`)
  span#g-ODIN_NFT_v2a(
    style="display:none" data-value=`${ODIN_NFT_V2a}`)

  span#g-THOR_NFT_v3a(
    style="display:none" data-value=`${THOR_NFT_V3a}`)
  span#g-LOKI_NFT_v3a(
    style="display:none" data-value=`${LOKI_NFT_V3a}`)
  span#g-ODIN_NFT_v3a(
    style="display:none" data-value=`${ODIN_NFT_V3a}`)

  span#g-THOR_NFT_v3b(
    style="display:none" data-value=`${THOR_NFT_V3b}`)
  span#g-LOKI_NFT_v3b(
    style="display:none" data-value=`${LOKI_NFT_V3b}`)
  span#g-ODIN_NFT_v3b(
    style="display:none" data-value=`${ODIN_NFT_V3b}`)

  span#g-THOR_NFT_v4a(
    style="display:none" data-value=`${THOR_NFT_V4a}`)
  span#g-LOKI_NFT_v4a(
    style="display:none" data-value=`${LOKI_NFT_V4a}`)
  span#g-ODIN_NFT_v4a(
    style="display:none" data-value=`${ODIN_NFT_V4a}`)

block header
  include ../header/header.pug

block content
  content
    h1: | Upgrade old XPower tokens to v4
    include ../connector/connector.pug

  include ./migrate.pug
  include ./integrate.pug
  include ./migrate-nft.pug
  include ./migrate-nft2.pug

block footer
  include ../footer/footer.pug
