form#allowance-nft2
  label.form-label
    | 3a) Allowance Approval for NFTs [v3a]
  div.btn-group.approve-allowance-nft2.thor(role="group")
    button.approve-allowance-nft2.thor.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for THOR NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old THOR NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft2.loki(role="group")
    button.approve-allowance-nft2.loki.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for LOKI NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old LOKI NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft2.odin(role="group")
    button.approve-allowance-nft2.odin.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for ODIN NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old ODIN NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#migration-nft2
  label.form-label
    | 3b) Migration Execution for NFTs [v3a to v3b]
  div.btn-group.execute-migration-nft2.thor(role="group")
    button.execute-migration-nft2.thor.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of THOR NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old THOR NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft2.loki(role="group")
    button.execute-migration-nft2.loki.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of LOKI NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old LOKI NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft2.odin(role="group")
    button.execute-migration-nft2.odin.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of ODIN NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old ODIN NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#burn-nft2
  label.form-label
    | 3c) Burn of Empty NFTs [v3a]
  div.btn-group.burn-empty-nft2.thor(role="group")
    button.burn-empty-nft2.thor.btn.btn-outline-warning(
      type="button"
    )
      | Burn Empty THOR NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty THOR NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.burn-empty-nft2.loki(role="group")
    button.burn-empty-nft2.loki.btn.btn-outline-warning(
      type="button"
    )
      | Burn Empty LOKI NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty LOKI NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.burn-empty-nft2.odin(role="group")
    button.burn-empty-nft2.odin.btn.btn-outline-warning(
      type="button"
    )
      | Burn Empty ODIN NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty ODIN NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
