form#allowance-nft
  label.form-label
    | Allowance Approval for NFTs
  div.btn-group.approve-allowance-nft.cpu(role="group")
    button.approve-allowance-nft.cpu.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for XPOW.CPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old XPOW.CPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft.gpu(role="group")
    button.approve-allowance-nft.gpu.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for XPOW.GPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old XPOW.GPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft.asic(role="group")
    button.approve-allowance-nft.asic.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for XPOW.ASIC NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old XPOW.ASIC NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#migration-nft
  label.form-label
    | Migration Execution for NFTs
  div.btn-group.execute-migration-nft.cpu(role="group")
    button.execute-migration-nft.cpu.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of XPOW.CPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old XPOW.CPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft.gpu(role="group")
    button.execute-migration-nft.gpu.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of XPOW.GPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old XPOW.GPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft.asic(role="group")
    button.execute-migration-nft.asic.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of XPOW.ASIC NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old XPOW.ASIC NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
