form#allowance
  label.form-label
    | 1a) Allowance Approval [v2]
  div.btn-group.approve-allowance.para(role="group")
    button.approve-allowance.para.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for CPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old CPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.aqch(role="group")
    button.approve-allowance.aqch.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for GPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old GPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.qrsh(role="group")
    button.approve-allowance.qrsh.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for ASICs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old ASIC tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#migration
  label.form-label
    | 1b) Migration Execution [v2 to v3]
  div.btn-group.execute-migration.para(role="group")
    button.execute-migration.para.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of CPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old CPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.aqch(role="group")
    button.execute-migration.aqch.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of GPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old GPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.qrsh(role="group")
    button.execute-migration.qrsh.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of ASICs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old ASIC tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
