extends ../index

block styles
  include ../theme/theme.pug

block globals
  span#g-xpower-address-XPOW_OLD(
    style="display:none" data-value=`${XPOWER_ADDRESS_OLD}`)
  span#g-xpower-address-XPOW_CPU(
    style="display:none" data-value=`${XPOWER_ADDRESS_CPU}`)
  span#g-xpower-address-XPOW_GPU(
    style="display:none" data-value=`${XPOWER_ADDRESS_GPU}`)
  span#g-xpower-address-XPOW_ASIC(
    style="display:none" data-value=`${XPOWER_ADDRESS_ASC}`)

  span#g-xpower-symbol-XPOW_CPU(
    style="display:none" data-value=`${XPOWER_SYMBOL_CPU}`)
  span#g-xpower-symbol-XPOW_GPU(
    style="display:none" data-value=`${XPOWER_SYMBOL_GPU}`)
  span#g-xpower-symbol-XPOW_ASIC(
    style="display:none" data-value=`${XPOWER_SYMBOL_ASC}`)

  span#g-xpower-decimals-XPOW_CPU(
    style="display:none" data-value=`${XPOWER_DECIMALS_CPU}`)
  span#g-xpower-decimals-XPOW_GPU(
    style="display:none" data-value=`${XPOWER_DECIMALS_GPU}`)
  span#g-xpower-decimals-XPOW_ASIC(
    style="display:none" data-value=`${XPOWER_DECIMALS_ASC}`)

  span#g-xpower-image-XPOW_CPU(
    style="display:none" data-value=`${XPOWER_IMAGE_CPU}`)
  span#g-xpower-image-XPOW_GPU(
    style="display:none" data-value=`${XPOWER_IMAGE_GPU}`)
  span#g-xpower-image-XPOW_ASIC(
    style="display:none" data-value=`${XPOWER_IMAGE_ASC}`)

  span#g-mining-speed(
    style="display:none" data-value=`${UI_MINING_SPEED}`)
  span#g-persistence(
    style="display:none" data-value=`${UI_PERSISTENCE}`)

block header
  include ../header/header.pug

block content
  content
    h1: | Migrate old XPOW tokens to new XPOW.GPU tokens

    form#connect
      div.btn-group.connect-metamask(role="group")
        button#connect-metamask.btn.btn-outline-warning(type="button")
          span.spinner.spinner-border.spinner-border-sm.float-start(
            role="status" style="visibility: hidden"
          )
          span.text: | &nbsp;
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Authorize your Metamask to be connected to"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

    form#minter
      label.form-label(for="minter-address")
        | Minter's Address
      div.input-group.mb-3.minter-address
        input#minter-address.form-control(
          type="text" placeholder="0x0000000000000000000000000000000000000000" readonly)
        span.input-group-text.info(
          data-bs-toggle="tooltip" data-bs-placement="top"
          title="Address old XP0W tokens shall be migrated for"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

    form#allowance
      label.form-label(for="approve-allowance")
        | Allowance Approval
      div.btn-group.approve-allowance(role="group")
        button#approve-allowance.btn.btn-outline-warning(type="button" disabled)
          | Approve Allowance for XPOWs
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Approve allowance for old XPOW tokens (for the new XPOW.GPU contract)"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

    form#migration
      label.form-label(for="execute-migration")
        | Migration Execution
      div.btn-group.execute-migration(role="group")
        button#execute-migration.btn.btn-outline-warning(type="button" disabled)
          | Execute Migration of XPOWs
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Execute Migration of old XPOWs tokens (to the new XPOW.GPU contract)"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

    form#integration
      label.form-label(for="wallet-integration")
        | Wallet Integration

      div.btn-group.add-xpow-cpu(role="group")
        button#add-xpow-cpu.add-xpow.btn.btn-outline-warning(type="button" disabled)
          | Add XPOW.CPU to Metamask <img class="float-end" src="/images/svg/lightning-fill-cpu.svg" height=20 width=20>
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Add the new XPOW.CPU token to Metamask"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

      div.btn-group.add-xpow-gpu(role="group")
        button#add-xpow-gpu.add-xpow.btn.btn-outline-warning(type="button" disabled)
          | Add XPOW.GPU to Metamask <img class="float-end" src="/images/svg/lightning-fill-gpu.svg" height=20 width=20>
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Add the new XPOW.GPU token to Metamask"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

      div.btn-group.add-xpow-asic(role="group")
        button#add-xpow-asic.add-xpow.btn.btn-outline-warning(type="button" disabled)
          | Add XPOW.ASIC to Metamask <img class="float-end" src="/images/svg/lightning-fill-asic.svg" height=20 width=20>
        button.btn.btn-outline-warning.info(
          type="button" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Add the new XPOW.ASIC token to Metamask"
        )
          include ../../public/images/pug/info-circle-fill.svg.pug

block footer
  include ../footer/footer.pug
