form#allowance-nft2
  label.form-label
    | 3a) Allowance Approval for NFTs [v3a]
  div.btn-group.approve-allowance-nft2.para(role="group")
    button.approve-allowance-nft2.para.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for PARA NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old PARA NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft2.aqch(role="group")
    button.approve-allowance-nft2.aqch.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for AQCH NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old AQCH NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft2.qrsh(role="group")
    button.approve-allowance-nft2.qrsh.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for QRSH NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old QRSH NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#migration-nft2
  label.form-label
    | 3b) Migration Execution for NFTs [v3a to v3b]
  div.btn-group.execute-migration-nft2.para(role="group")
    button.execute-migration-nft2.para.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of PARA NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old PARA NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft2.aqch(role="group")
    button.execute-migration-nft2.aqch.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of AQCH NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old AQCH NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft2.qrsh(role="group")
    button.execute-migration-nft2.qrsh.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of QRSH NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old QRSH NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#burn-nft2
  label.form-label
    | 3c) Burn of Empty NFTs [v3a]
  div.btn-group.burn-empty-nft2.para(role="group")
    button.burn-empty-nft2.para.btn.btn-outline-warning(
      type="button"
    )
      | Burn Empty PARA NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty PARA NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.burn-empty-nft2.aqch(role="group")
    button.burn-empty-nft2.aqch.btn.btn-outline-warning(
      type="button"
    )
      | Burn Empty AQCH NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty AQCH NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.burn-empty-nft2.qrsh(role="group")
    button.burn-empty-nft2.qrsh.btn.btn-outline-warning(
      type="button"
    )
      | Burn Empty QRSH NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute burn of empty QRSH NFTs (i.e. amount=0)"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
