form#allowance-nft
  label.form-label
    | 2a) Allowance Approval for NFTs [v2]
  div.btn-group.approve-allowance-nft.thor(role="group")
    button.approve-allowance-nft.thor.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for CPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old CPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft.loki(role="group")
    button.approve-allowance-nft.loki.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for GPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old GPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance-nft.odin(role="group")
    button.approve-allowance-nft.odin.btn.btn-outline-warning(
      type="button" disabled
    )
      | Approve Allowance for ASIC NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old ASIC NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug

form#migration-nft
  label.form-label
    | 2b) Migration Execution for NFTs [v2 to v3a]
  div.btn-group.execute-migration-nft.thor(role="group")
    button.execute-migration-nft.thor.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of CPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old CPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft.loki(role="group")
    button.execute-migration-nft.loki.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of GPU NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old GPU NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration-nft.odin(role="group")
    button.execute-migration-nft.odin.btn.btn-outline-warning(
      type="button" disabled
    )
      | Execute Migration of ASIC NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old ASIC NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
