//-
//- [v5b]
//-
form#moe-integration
  label.form-label
    | XPower Wallet Integration [v5b]
  div.btn-group.add-moe.thor(role="group")
    button.add-moe.thor.btn.btn-outline-warning(
      type="button" data-target="v5b"
    )
      | Add THOR to Metamask <img class="float-end" height=20 width=20 src="{{THOR_MOE_IMAGE}}">
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Add the new THOR token to Metamask"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.add-moe.loki(role="group")
    button.add-moe.loki.btn.btn-outline-warning(
      type="button" data-target="v5b"
    )
      | Add LOKI to Metamask <img class="float-end" height=20 width=20 src="{{LOKI_MOE_IMAGE}}">
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Add the new LOKI token to Metamask"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.add-moe.odin(role="group")
    button.add-moe.odin.btn.btn-outline-warning(
      type="button" data-target="v5b"
    )
      | Add ODIN to Metamask <img class="float-end" height=20 width=20 src="{{ODIN_MOE_IMAGE}}">
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Add the new ODIN token to Metamask"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
