//-
//- [v2a to v3b]
//-
form.moe-allowance
  label.form-label
    | Allowance Approval [v2]
  div.btn-group.approve-allowance.thor(role="group")
    button.approve-allowance.thor.btn.btn-outline-warning(
      type="button" data-source="v2a" data-target="v3b" disabled
    )
      | Approve Allowance for CPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old CPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.loki(role="group")
    button.approve-allowance.loki.btn.btn-outline-warning(
      type="button" data-source="v2a" data-target="v3b" disabled
    )
      | Approve Allowance for GPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old GPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.odin(role="group")
    button.approve-allowance.odin.btn.btn-outline-warning(
      type="button" data-source="v2a" data-target="v3b" disabled
    )
      | Approve Allowance for ASICs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old ASIC tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
form.moe-migration
  label.form-label
    | Migration Execution [v2 to v3]
  div.btn-group.execute-migration.thor(role="group")
    button.execute-migration.thor.btn.btn-outline-warning(
      type="button" data-source="v2a" data-target="v3b" disabled
    )
      | Execute Migration of CPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old CPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.loki(role="group")
    button.execute-migration.loki.btn.btn-outline-warning(
      type="button" data-source="v2a" data-target="v3b" disabled
    )
      | Execute Migration of GPUs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old GPU tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.odin(role="group")
    button.execute-migration.odin.btn.btn-outline-warning(
      type="button" data-source="v2a" data-target="v3b" disabled
    )
      | Execute Migration of ASICs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old ASIC tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
//-
//- [v3b to v4a]
//-
form.moe-allowance
  label.form-label
    | Allowance Approval [v3]
  div.btn-group.approve-allowance.thor(role="group")
    button.approve-allowance.thor.btn.btn-outline-warning(
      type="button" data-source="v3b" data-target="v4a" disabled
    )
      | Approve Allowance for PARAs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old PARA tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.loki(role="group")
    button.approve-allowance.loki.btn.btn-outline-warning(
      type="button" data-source="v3b" data-target="v4a" disabled
    )
      | Approve Allowance for AQCHs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old AQCH tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.odin(role="group")
    button.approve-allowance.odin.btn.btn-outline-warning(
      type="button" data-source="v3b" data-target="v4a" disabled
    )
      | Approve Allowance for QRSHs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old QRSH tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
form.moe-migration
  label.form-label
    | Migration Execution [v3 to v4]
  div.btn-group.execute-migration.thor(role="group")
    button.execute-migration.thor.btn.btn-outline-warning(
      type="button" data-source="v3b" data-target="v4a" disabled
    )
      | Execute Migration of PARAs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old PARA tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.loki(role="group")
    button.execute-migration.loki.btn.btn-outline-warning(
      type="button" data-source="v3b" data-target="v4a" disabled
    )
      | Execute Migration of AQCHs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old AQCH tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.odin(role="group")
    button.execute-migration.odin.btn.btn-outline-warning(
      type="button" data-source="v3b" data-target="v4a" disabled
    )
      | Execute Migration of QRSHs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old QRSH tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
//-
//- [v4a to v5a]
//-
form.moe-allowance
  label.form-label
    | Allowance Approval [v4]
  div.btn-group.approve-allowance.thor(role="group")
    button.approve-allowance.thor.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Approve Allowance for THORs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old THOR tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.loki(role="group")
    button.approve-allowance.loki.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Approve Allowance for LOKIs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old LOKI tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.approve-allowance.odin(role="group")
    button.approve-allowance.odin.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Approve Allowance for ODINs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve allowance for the old ODIN tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
form.moe-migration
  label.form-label
    | Migration Execution [v4 to v5]
  div.btn-group.execute-migration.thor(role="group")
    button.execute-migration.thor.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Execute Migration of THORs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old THOR tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.loki(role="group")
    button.execute-migration.loki.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Execute Migration of LOKIs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old LOKI tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
  div.btn-group.execute-migration.odin(role="group")
    button.execute-migration.odin.btn.btn-outline-warning(
      type="button" data-source="v4a" data-target="v5a" disabled
    )
      | Execute Migration of ODINs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Execute migration of the old ODIN tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
