form.unstake-old
  div.btn-group.unstake-old(role="group" class="{{xtoken}}")
    button.unstake-old.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Unstake old NFTs
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Unstake the old staked {{xTOKEN}} NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
form.migrate-old
  div.btn-group.migrate-old(role="group" class="{{xtoken}}")
    button.approve-old.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Approve <span class="d-none d-sm-inline">Allowance</span>
    button.migrate-old.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Migrate
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve & migrate the old {{xTOKEN}} NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
form.restake-new
  div.btn-group.restake-new(role="group" class="{{xtoken}}")
    button.approve-new.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Approve <span class="d-none d-sm-inline">Allowance</span>
    button.restake-new.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Restake <span class="d-none d-sm-inline">new NFTs</span>
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve & restake the new {{xTOKEN}} NFTs"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
