form.sov-migrate
  div.btn-group.sov-migrate(role="group" class="{{xtoken}}")
    button.approve-sov-allowance.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Approve <span class="d-none d-sm-inline">Allowance(s)</span>
    button.sov-migrate.btn.btn-outline-warning(
      data-source="{{VERSION_SRC}}" data-target="{{VERSION_TGT}}"
      type="button" class="{{xtoken}}" disabled
    )
      | Migrate
    button.btn.btn-outline-warning.info(
      type="button" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Approve & migrate the old {{aTOKEN}} tokens"
    )
      include ../../public/images/pug/info-circle-fill.svg.pug
